@import "../../styles/nobulVariables.scss";
@import "./region-images.scss";

.consumer-registration {
  display: flex;

  .ant-steps-item:last-child .ant-steps-item-icon {
    margin-right: 0;
  }

  .ant-radio-wrapper {
    margin-right: 2rem;
  }

  .ant-row > div {
    padding-left: 0;
  }
}

.consumer-registration-accept-terms-group {
  .ant-checkbox-wrapper {
    display: flex;
    margin-bottom: 1.5rem;

    & + .ant-checkbox-wrapper {
      margin-left: 0;
    }

    span {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    a {
      color: $blue-dark;
    }
  }
}

.consumer-registration-img {
  width: 50%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom !important;
}

.consumer-registration-logo {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -55%);
  width: 26rem;
  height: 6rem;
}

.consumer-registration-form {
  background-color: $white;
  width: 50%;
  min-height: 100vh;
}

.consumer-registration-form-checkboxes {
  .ant-form-explain {
    transform: none;
  }

  .show-help-enter-active,
  .show-help-leave-active {
    position: absolute;
    right: 2.5rem;
  }

  .ant-checkbox-group {
    // Added !important because this style has been given
    // higher specifity in the global styles under .nobul
    display: block !important;
  }
}

.consumer-registration-form--step3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consumer-registration-step2-title {
  text-align: center;
  margin-top: 1rem;
}

.consumer-registration-form-item {
  .ant-form-item {
    margin-bottom: 3rem;
  }
}

.consumer-registration-center {
  position: absolute;
  left: 50%;
  transition: transformX(-50%);
}

.consumer-registration-head-title {
  margin-bottom: 4rem;
  font-size: 2.6rem;
  font-weight: bold;
}

.consumer-registration-paragraph {
  color: $gray-dark;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.consumer-registration-form--step3 .consumer-registration-paragraph {
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}

.consumer-registration-paragraph a {
  color: $blue-dark;
  text-decoration: underline;
}

.consumer-registration-resend-email-link {
  text-decoration: underline;
  color: $toggle-color;
}

.consumer-registraion-resend-email-verification {
  text-align: center;
  margin: 10rem 0;
}

.consumer-registration-final-button {
  margin-bottom: 10rem;
  text-align: center;
  margin-top: 2rem;
}

.consumer-registration-big-button {
  width: 30rem;
}

.consumer-registration-final-step-title {
  text-align: center;
}

.consumer-registration-button-group {
  display: block;
  text-align: center;
  padding: 0 10rem;
}

.consumer-registration-button-item {
  margin-right: 2rem;
}

.consumer-registration-preapproved-mortage-option {
  display: flex;
}

.consumer-registration-select {
  width: 15rem;
}

.consumer-registration-accept-terms-group {
  text-align: left;
  margin-bottom: 3rem;

  a {
    color: $blue-dark;
  }
}

.consumer-registration-form-checkboxes {
  text-align: right;
}

.header-step {
  background-size: 0;
}

@media screen and (max-width: $tablet-max) {
  .nobul
    .header-step {
      height: 6.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      background-position: center center;
      display: flex;
      align-items: center;
      padding-left: 3rem;
    }

    .consumer-registration-img-1 {
      display: none;
    }
    .consumer-registration-img-2 {
      display: none;
    }
    .consumer-registration-img-3 {
      display: none;
    }
    .consumer-registration-form {
      background-color: $white;
      width: 100vw;
    }
    .consumer-registration-form-items {
      margin-left: 0;
      width: 100vw;
      text-align: center;
    }
    .consumer-registration-button-group {
      margin-right: 0;
      text-align: center;
      padding: 0;
    }
    .consumer-registration-button-item {
      margin-right: 0;
        &:first-of-type {
          margin-bottom: 1rem;
        }
    }
    .consumer-registration-head-title {
      font-size: 2rem;
    }
    .consumer-registration {
      .ant-radio-group {
        display: flex !important;
        flex-direction: column !important;
      }
      .ant-radio-wrapper {
        margin-top: 1rem !important;
      }
      .ant-form, .ant-steps {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
      }
    }
    .consumer-registration-select {
      width: 100%;
    }
    .googletag-consumer-signup-step-1 {
      width: 100%;
    }
    .consumer-registration-preapproved-mortage-option {
      display: flex;
      flex-direction: column;
    }
    .consumer-registration-preapproved-mortage-option-child {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .consumer-registration-property-type-option {
      display: flex;
      flex-direction: row;
    }
    .consumer-registration-logo {
      display: none;
    }
    .consumer-registration-paragraph-verification {
      margin-left: 1.6rem;
      margin-right: 1.6rem;
    }
    .consumer-registration-form-checkboxes {
      text-align: center;
    }
    .ant-form-item-label {
      margin-bottom: 0 !important;
    }
}


@media screen and (max-width: $mobile) {
  .registration-form-row {
    flex-flow: column wrap;
    height: auto;
  }

  .consumer-registration-button-item {
    width: 100%;
  }

  .consumer-registration-form-form .ant-form-explain {
    line-height: 1;
    bottom: -0.5rem;
  }
}
