@import "../../styles/nobulVariables.scss";

.home-actions {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;

  .box-home.box-home {
    background: none;
    padding: 0.5rem;
    h2,
    p {
      color: white;
    }
    h2 {
      text-transform: uppercase;
    }
    .box-icon {
      background: none;
      width: auto;
      height: auto;
    }
    .box-icon-home {
      background: none;
      position: relative;
      border: 5px solid white;
      border-radius: 50%;
      height: 16rem;
      width: 16rem;
      padding: 0 1rem;
      margin: 0;
      display: flex;
      transition: border-color 0.1s ease-in;
      transition: box-shadow 0.1s ease-in;
      justify-content: center;
      text-align: center;

      .hover-icon,
      .primary-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.1s ease-in;
      }

      .hover-icon {
        opacity: 0;
      }
      .check-icon {
        opacity: 0;
        transition: opacity 0.2s ease-in;
        position: absolute;
        top: 30px;
        right: -5px;
      }
    }

    &:hover {
      h2,
      p {
        color: $yellow-medium;
      }
      .box-icon-home {
        box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.25);
        border-color: $yellow-medium;
        .primary-icon {
          opacity: 0;
        }
        .hover-icon {
          opacity: 1;
        }
        .check-icon {
          opacity: 1;
        }
      }
    }
    &:hover h2,
    &:hover p {
      color: $yellow-medium;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .home-actions {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  .box-home {
    width: 100%;
    flex: 1 1 auto;
    margin-bottom: 2rem;
  }

  .box-icon-home {
    width: 100%;
  }
}
