
@import "../../styles/variables.scss";

.how-it-works-modal {
  .ant-modal-close.ant-modal-close .ant-modal-close-x.ant-modal-close-x { color: $white; }

  .ant-modal-content.ant-modal-content {
    padding: 0;

    .intro-content {
      background: $black-medium;
      text-align: center;
      color: $white;
      padding: 5rem;
    }

    h1, h2 {
      color: $white;
    }
    h2 { margin-bottom: 3rem;}

    .tab-section {
      padding: 0 2rem 0 2rem;
      z-index: 1;
      position: relative;

      .ant-tabs-tab {
        margin-right: 3.2rem;
      }

      .ant-tabs-nav {
        display: block;
        text-align: center;
      }

      .tab-title {
        text-align: center;
        position: relative;
      }

      .tab-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: 45%;
          padding: 2rem;
          padding-left: 0;
        }
      }
    }
  }
}