@import "../../styles/nobulVariables.scss";

.agent-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}

.agent-card__body {
  height: 84%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0rem;
  justify-content: space-between;
}

.agent-card__agent-name {
  font-weight: $bold;
  color: $blue-dark;
  font-size: 2.2rem;
}

.agent-card__agent-office {
  font-size: 1.8rem;
}

.agent-card__agent-about {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.agent-card__agent-about::before {
  content: "\2022";
  display: block;
  border-radius: 50%;
  font-size: 3.5rem;
  color: $gray-medium;
  margin-bottom: 1.5rem;
}

.agent-card__agent-about::after {
  content: "\2022";
  display: block;
  border-radius: 50%;
  font-size: 3.5rem;
  color: $gray-medium;
  margin-top: 1.5rem;
}

.agent-card__footer {
  height: 9rem;
  background-color: $green-accept;
  display: flex;
}

.footer__icon {
  min-width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__image-container {
  background-color: $white;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__image {
  width: 4rem;
}

.footer__action-content {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__title {
  font-size: 2rem;
  font-weight: $bold;
  margin-bottom: 0.3rem;
}

.footer__text {
  font-size: 1.2rem;
  line-height: 1.67;
  padding-right: 1rem;
}
