@import "../../styles/nobulVariables.scss";

.nobul {
  .offer-list-item {
    position: relative;
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: $white;
    box-shadow: $card-shadow;
    cursor: pointer;

    .offer-commission__sector-wrapper {
      display: flex;
      align-content: center;
    }

    .offer-commission__sector {
      text-align: center;
      margin: 1rem;
    }

    .offer-commission__number {
      font-weight: bold;
    }

    &-avatar {
      height: 7rem;
      width: 7rem;
      border-radius: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        line-height: 4rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .ant-list-item-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-status {
      color: black;
      font-size: 1.2rem;
      font-weight: $bold;
      transform: translate(-2rem, 2rem);
    }

    .offer-status-open {
      color: $blue-dark;
    }

    .offer-status-accepted {
      color: $black-medium;

      &:after {
        content: "\2713";
        margin-left: 0.5rem;
      }
    }

    .offer-status-no-accepted {
      color: $red-dark;
    }

    .offer-status-rejected {
      color: $red-dark;
    }

    .offer-status-job-deleted {
      color: $gray-dark;
    }

    .offer-status-job-expired {
      color: $gray-dark;
    }

    .offer-status-withdrawn {
      color: $gray-dark;
    }

    &-promoted {
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      width: 6.5rem;
      background-color: $yellow-medium;
      color: $white;
      font-size: 1rem;
      text-transform: uppercase;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
    }

    .ant-list-item-meta-content {
      h4 {
        font-family: $font-family;
        font-size: 1.4rem;
        font-weight: $bold;
        margin-bottom: 0;
      }
    }

    .ant-list-item-meta-description {
      font-family: $font-family;
      font-size: 1.4rem;

      .ant-rate {
        display: block;
        font-size: 1.2rem;

        .ant-rate-star {
          margin-right: 0.5rem;
        }
      }
    }

    &.offer-read {
      background-color: $blue-pale;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .offer-list-item {
      margin-bottom: 0.1rem;
      padding: 1.5rem;

      &-status {
        font-size: 1rem;
        transform: translate(-1.5rem, 1.5rem);
      }

      .ant-list-item-meta-avatar {
        margin-right: 1rem;
      }

      &-avatar {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }
}
