.create-standard-proposal-modal {
  .ant-confirm-btns {
    display: flex;
    justify-content: space-between;
    float: none;

    .ant-btn {
      width: 50%;
      padding: 0;
      text-align: center;
    }
  }
}