@import "../../styles/nobulVariables.scss";
.nobul {
  .layout-footer {
    z-index: 0;
  }

  .reuse-services {
    padding: 4rem;
    margin-bottom: 0;

    &.services-accordion {
      padding: 2rem 1rem;

      .ant-checkbox-group {
        display: block;
      }
    }

    .render {
      &-group {
        display: flex;
        margin-bottom: 2rem;
        max-width: 115rem;
        padding: 2rem;

        h4 {
          font-family: $font-family;
          margin-bottom: 2.5rem;
          font-size: 1.6rem;
          font-weight: $bold;
        }

        .ant-checkbox-wrapper {
          margin-bottom: 2rem;
        }
      }

      &-accordion {
        border: none;
        background-color: transparent;

        &.ant-collapse {
          > .ant-collapse-item {
            margin-bottom: 2rem;
            border-bottom: none;
          }

          .ant-collapse-header {
            border-radius: 4px;
            border: solid 1px $gray-light;
            padding: 1rem 2rem;
            color: $black-medium;

            i {
              right: 1rem;
              left: auto;
            }
          }

          .ant-collapse-content {
            overflow: visible;
          }

          .ant-collapse-content-box {
            padding: 0;

            .service.ant-checkbox-wrapper {
              height: 4.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: none;
              border-top: $border-light-gray;
              padding: 0 1.5rem;

              &:first-of-type {
                border-top: none;
              }

              span {
                order: 1;
                color: $black-medium;
              }

              span.ant-checkbox {
                order: 2;
                top: 0;

                .ant-checkbox-input {
                  display: none;
                }

                .ant-checkbox-inner {
                  width: 2.5rem;
                  height: 2.5rem;
                  border: solid 0.05em $black-medium;
                  border-radius: 1.2em;

                  &:after {
                    width: 0.5rem;
                    height: 1rem;
                    top: 0.6rem;
                    left: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .buy-services {
      .render-accordion {
        .ant-collapse-header {
          background-color: $buy-color;
        }

        .ant-collapse-content {
          border: $border-buy;
          border-top: none;
          box-shadow: $buy-shadow;
        }
      }
    }

    .sell-services {
      .render-accordion {
        .ant-collapse-header {
          background-color: $sell-color;
        }

        .ant-collapse-content {
          border: $border-sell;
          border-top: none;
          box-shadow: $sell-shadow;
        }
      }
    }

    .ant-checkbox-wrapper {
      display: flex;
      margin-left: 0;
    }

    .ant-checkbox {
      top: 0.5rem;
    }
  }

  .creating-job-services {
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
    }

    .sell-services {
      h4 {
        color: $yellow-dark;
      }

      .ant-checkbox-wrapper {
        .ant-checkbox-inner:after {
          border-color: $yellow-medium;
        }
      }
    }

    .buy-services {
      h4 {
        color: $blue-dark;
      }

      .ant-checkbox-wrapper {
        .ant-checkbox-inner:after {
          border-color: $blue-dark;
        }
      }
    }

    @extend .reuse-services;
  }
  .render-group-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: $gray-light;
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.2rem;
    width: 100%;
    > .service-group {
      padding: 2rem;
      background-color: white;
    }
  }

  .services {
    background-color: white;
    @extend .reuse-services;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ant-checkbox-group {
      display: flex;
      flex-wrap: wrap;
    }
    .ant-checkbox-wrapper {
      width: 20%;
    }

    .service.ant-checkbox-wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .creating-job-services {
      grid-template-columns: 1fr;
    }
    //TODO: design decision on checkboxes in responsive
    // .services {
    //   padding: 0;

    //   .ant-checkbox-group {
    //     display: block;
    //     .ant-checkbox-wrapper {
    //       margin: 0;
    //       .ant-checkbox {
    //         visibility: hidden;
    //         & + span {
    //           padding: 0 2rem;
    //         }
    //       }
    //     }
    //   }

    //   .ant-checkbox-group .ant-checkbox-wrapper .ant-checkbox + span {
    //     padding: 0;
    //   }

    //   .ant-checkbox-group .ant-checkbox-wrapper .ant-checkbox.ant-checkbox-checked + span {
    //     background-color: transparent;
    //   }
    // }
  }
}

@media screen and (max-width: $mobile) {
  .nobul {
    .render-group-services {
      display: flex;
      flex-direction: column;

      > .service-group {
        .service:hover {
          background-color: $gray-light;
        }
      }
    }
  }
}
