@import "../../styles/variables.scss";

.nobul {
    .about-agent {
        background-color: $white;
        padding: 2rem 2rem 1rem 2rem;
    
        &-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2rem;
    
            &-information {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
    
                &-rating {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 1.6rem;
                    font-weight: $bold;
                    margin-left: 2rem;

                    span {
                        margin-right: 0.5rem;
                        color: $black-medium;
                    }
    
                    &-star {
                        margin-left: 1rem;
                        font-size: 1.4rem;
                    }
                }
    
                &-brokerage {
                    font-size: 1.4rem;
                    margin-left: 2rem;
                    color: $black-medium;
                }
            }
        }
    
        &-message {
            h5 {
                text-transform: uppercase;
            }
            p {
                font-size: 1.4rem;
            }
        }

        &-member {
            margin-top: 2rem;
            font-size: 1.4rem;
            color: $black-medium;
            padding-bottom: 2rem;
    
            &-since {
                font-weight: $bold;
                margin-right: 0.5rem;
            }
        }  
    
        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            
        }
    
        &-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.about-agent-profile .ant-avatar-image img {
    object-fit: cover;
}