.avatar-upload-field {
  text-align: center;
  .ant-upload-select-picture-card {
    border-radius: 50%;
  }
}

.agent-profile-avatar-preview {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-upload-field .ant-form-item-control .ant-form-explain {
    bottom: -2rem;
}