@import "../../styles/nobulVariables.scss";

.hover-polygon__message {
    color: $black-medium;
    font-weight: $regular;
    font-size: 1.4rem;
}

.hover-polygon__name:before {
    content: " ";
}

.hover-polygon__name {
    color: $blue-medium;
    font-weight: $regular;
    font-size: 1.4rem;
}