@import "../../styles/nobulVariables.scss";

html {
  // allows easy REM calculations
  font-size: 62.5%;
}

html body {
  margin: 0;
  // Body font size 16px
  font-size: 1.6rem;
}

// restrict page to maximum width
// ---
// TODO: Commenting this for now. Not sure if we are going to restrict the page width
// .page-width {
//   max-width: 101rem;
//   margin-left: auto;
//   margin-right: auto;
// }

.nobul {
  overflow-x: hidden;

  .ant-message {
    z-index: 100000;
  }
  
  a.no-hover:hover {
    color: $black-medium;
  }

  // layouts
  // ---
  .layout {
    &-header {
      z-index: 11;
      position: fixed;
      width: 100%;
      height: 8rem;

      &:not(.landing-page) {
        box-shadow: $box-shadow-bottom;
      }

      &.landing-2 {
        @media screen and (min-width: $tablet-max) {
          background-color: transparent;
        }
      }
    }

    .content {
      width: 100%;
    }

    &-footer {
      border-top: 1px solid $gray-light;
      z-index: 10;
    }
  }

  .new-home-page {
    position: absolute;
  }

  .layout-header:not(.landing-page) + .content {
    margin-top: 8rem;
  }

  // headers
  // ---
  h1 {
    font-family: $font-family-titles;
    font-size: 3.2rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-medium;
  }

  h2 {
    font-family: $font-family-titles;
    font-size: 2.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: $black-medium;
  }

  h3 {
    font-family: $font-family-sub-titles;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: $black-medium;
  }

  h4 {
    font-family: $font-family-sub-titles;
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: $black-medium;
  }

  h5 {
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: $bold;
    color: $black-medium;
    margin-bottom: 0.1rem;
  }

  h6 {
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: $bold;
    color: $gray-dark;
    text-transform: uppercase;
  }

  // forms
  // ---
  .ant-form-item-label {
    text-align: left;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .ant-input-number-input-wrap,
  .ant-input-number-input-wrap input {
    height: 100%; // Fixes Safari bug
  }

  .ant-form {
    label {
      font-size: 1.4rem;
    }

    .ant-row-flex {
      width: 100%;
    }
  }

  .ant-form-item-with-help {
    margin-bottom: 0;
  }

  .ant-calendar {
    border-radius: 3px;
    padding-bottom: 1rem;

    .ant-calendar-ok-btn {
      height: auto;
      padding: 1rem 5.5rem;
    }
  }

  // select
  .ant-select-selection {
    display: flex;
    align-items: center;
  }

  .ant-select-selection-selected-value {
    overflow: visible;
  }

  .ant-form-item-required {
    &:before {
      display: none;
    }

    &:after {
      display: inline-block;
      margin-left: 0.5rem;
      content: "*";
      line-height: 1;
      font-size: 1.4rem;
      color: $red-dark;
    }
  }

  .ant-form-explain,
  .ant-form-extra {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }

  // tabs
  // ----

  .ant-tabs-nav .ant-tabs-tab {
    color: $gray-dark;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2rem 0;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: $black-medium;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: $bold;
  }

  .ant-tabs-ink-bar {
    background-color: $black-medium;
    height: 0.3rem;
  }

  .ant-tag {
    cursor: default;
  }
  .location-search-autocomplete-list.location-search-autocomplete-list {
    z-index: 1200;
  }


  // steps
  // ---

  .ant-steps-item-icon {
    width: 4rem;
    height: 4rem;

    > .ant-steps-icon {
      font-size: 1.8rem;
      color: $gray-dark;
      font-family: $font-family;
      line-height: 4rem;
    }
  }

  .ant-steps-item-finish .ant-steps-item-icon {
    border-color: $black-medium;

    .ant-steps-icon {
      color: $black-medium;
    }
  }

  .ant-steps-item-process {
    > .ant-steps-item-content {
      > .ant-steps-item-title {
        font-size: 1.8rem;
        font-weight: $regular;
        line-height: 4rem;
        color: $black-medium;

        &:after {
          background-color: $gray-dark;
          top: 2rem;
        }
      }
    }

    .ant-steps-item-icon {
      background-color: $black-medium;
      border-color: $black-medium;
      line-height: 4rem;
    }
  }

  .ant-steps-item-wait {
    > .ant-steps-item-content {
      > .ant-steps-item-title {
        font-size: 1.8rem;
        font-weight: $regular;
        line-height: 4rem;
        color: $gray-dark;

        &:after {
          background-color: $gray-dark;
          top: 2rem;
        }
      }
    }

    .ant-steps-item-icon {
      background-color: $white;
      border-color: $gray-dark;
      line-height: 4rem;

      > .ant-steps-icon {
        color: $gray-dark;
      }
    }
  }

  .ant-steps-item-finish {
    > .ant-steps-item-content {
      > .ant-steps-item-title {
        font-size: 1.8rem;
        font-weight: $regular;
        line-height: 4rem;
        color: $black-medium;
      }
    }
  }

  .has-feedback .anticon-eye {
    margin-right: 1.7rem;
  }

  // drawer
  .ant-drawer {
    z-index: 1005;
  }

  // general
  // ---

  .hide {
    display: none;
  }

  .ant-select-selection__rendered {
    width: 100%;
  }

  .ant-calendar-input {
    height: 26px;
  }

  .required {
    color: $red-dark;
    
    &:before {
      content: " ";
    }
  }
}

// ***************************************************

// TODO:
// refactor styles above this to remove nested styles

// ***************************************************

// buttons
// ---
.nobul .ant-btn {
  width: 13rem;
  height: 3.5rem;
  line-height: 1;
}
.nobul .ant-btn-sm {
  width: 8rem;
  height: 2.5rem;
  line-height: 1;
}

.nobul .ant-btn-lg {
  width: 28rem;
}

.nobul .ant-btn:hover {
  background-color: $button-secondary-hover-bg-color;
  color: $button-secondary-hover-text-color;
  border-color: $button-secondary-hover-border-color;
}

.nobul .ant-btn:focus,
.nobul .ant-btn:active {
  box-shadow: $button-secondary-focus-shadow;
  border-color: $button-secondary-border-color;
  color: $button-secondary-text-color;
}

.nobul .ant-btn[disabled],
.nobul .ant-btn[disabled]:hover,
.nobul .ant-btn[disabled]:focus,
.nobul .ant-btn[disabled]:active {
  color: $button-secondary-disabled-text-color;
  background-color: $button-secondary-disabled-bg-color;
  border-color: $button-secondary-disabled-border-color;
}

.nobul .ant-btn-primary:hover {
  background-color: $button-primary-hover-bg-color;
  color: $button-primary-hover-text-color;
  border-color: $button-primary-hover-border-color;
}

.nobul .ant-btn-primary:focus,
.nobul .ant-btn-primary:active {
  border: none;
  box-shadow: $button-primary-focus-shadow;
  background-color: $button-primary-hover-bg-color;
  color: $button-primary-hover-text-color;
}

.nobul .ant-btn-primary[disabled],
.nobul .ant-btn-primary[disabled]:hover,
.nobul .ant-btn-primary[disabled]:focus,
.nobul .ant-btn-primary[disabled]:active {
  color: $button-primary-disabled-text-color;
  background-color: $button-primary-disabled-bg-color;
  border-color: $button-primary-disabled-border-color;
}

.nobul .ant-btn-danger:hover {
  background-color: $button-danger-hover-bg-color;
  color: $button-danger-hover-text-color;
  border-color: $button-danger-hover-border-color;
}

.nobul .ant-btn-danger:focus,
.nobul .ant-btn-danger:active {
  border: none;
  box-shadow: $button-danger-focus-shadow;
  background-color: $button-danger-hover-bg-color;
  color: $button-danger-hover-text-color;
}

.nobul .ant-btn-danger[disabled],
.nobul .ant-btn-danger[disabled]:hover,
.nobul .ant-btn-danger[disabled]:focus,
.nobul .ant-btn-danger[disabled]:active {
  color: $button-danger-disabled-text-color;
  background-color: $button-danger-disabled-bg-color;
  border-color: $button-danger-disabled-border-color;
}

// Inputs
// ---
.nobul .ant-input-affix-wrapper .ant-input-suffix {
  right: 1rem;
}

.nobul .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 2.5rem;
}

.nobul .has-success.has-feedback .ant-form-item-children:after {
  color: $blue-dark;
}

.nobul form .has-feedback .ant-input,
.nobul .has-feedback .ant-input {
  padding-right: 3rem;
}

.nobul .ant-input:focus,
.nobul .ant-input:active {
  border-color: $border-input-focus;
}


// Radio buttons
// ---
.nobul .ant-radio .ant-radio-inner {
  border-color: $border-input;
}

.nobul .ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
.nobul .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
  border-color: $border-input-selected;
}

.nobul .ant-radio-wrapper:focus .ant-radio .ant-radio-inner, 
.nobul .ant-radio:focus .ant-radio-inner,
.nobul .ant-radio-input:focus + .ant-radio-inner  {
  border-color: $border-input-focus;
}

.nobul .ant-radio-wrapper:hover .ant-radio .ant-radio-inner, 
.nobul .ant-radio:hover .ant-radio-inner, 
.nobul .ant-radio-focused .ant-radio-inner {
  border-color: $border-input-hover;
}

// Check boxes
.nobul .ant-checkbox-wrapper .ant-checkbox-inner {
  border-color: $border-input;
}

.nobul .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner,
.nobul .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: $border-input-selected;
}

.nobul .ant-checkbox-wrapper:focus .ant-checkbox .ant-checkbox-inner, 
.nobul .ant-checkbox-wrapper:focus .ant-checkbox-inner,
.nobul .ant-checkbox-input:focus + .ant-checkbox-inner  {
  border-color: $border-input-focus;
}

.nobul .ant-checkbox-wrapper:hover .ant-checkbox-inner, 
.nobul .ant-checkbox:hover .ant-checkbox-inner {
  border-color: $border-input-hover;
}

// modal
// ---
.nobul .ant-modal-content {
  border-radius: 0;
  box-shadow: $card-shadow;
  padding: 3rem 3rem 3.5rem;
}

.nobul .ant-modal-content .ant-modal-close .ant-modal-close-x {
  font-size: 1.8rem;
  color: $black-medium;
}

.nobul .ant-modal-header {
  padding: 0 0 1rem;
}

.nobul .ant-modal-title {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $black-medium;
  font-weight: $bold;
}

.nobul .ant-modal-body {
  // Using !important to overcome specificity
  padding: 0 !important;
}

.nobul .ant-modal-footer {
  border-top: none;
  padding: 3.5rem 0 0;
  text-align: center;
}

// Mobile
@media screen and (max-width: $mobile) {
  body.nobul {
    &:after {
      content: "mobile";
      display: none;
    }
  }

  .layout {
    .ant-layout-header {
      padding: 0;
    }

    &-footer {
      padding: 0;
    }
  }
}

// Ipads
@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  body.nobul {
    &:after {
      content: "tablet";
      display: none;
    }
  }

  .layout {
    .ant-layout-header {
      padding: 0;
    }

    &-footer {
      padding: 0;
    }
  }
}

// Desktops and laptops
@media only screen and (min-width: $desktop) {
  body.nobul {
    &:after {
      content: "desktop";
      display: none;
    }
  }
}
