@import "../../styles/nobulVariables.scss";

.property-criteria {
  display: flex;
  border: solid 1px $gray-light;
  margin-bottom: 1.5rem;
}

.property-criteria-group {
  flex: 0 0 50%;
  padding: 1rem;
  border-right: solid 1px $gray-light;

  &:last-of-type {
    border-right: none;
  }

  &-countIcon {
    color: $gray-dark;
    font-size: 1.4rem;
    margin-top: 1rem;

    &-bathCount {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    &-bedCount {
      margin-left: 0.5rem;
    }
  }

  &-price {
    font-size: 1.4rem;

    span .currency:last-of-type .currency__code {
      display: none;
    }
  }
}

.property-criteria-header {
  font-size: 1.4rem;
  color: $black-medium;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem;

  &::after {
    content: ":";
  }
}

// List styles
// ===============
.property-criteria ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.property-criteria li {
  color: $black-medium;
  font-size: 1.4rem;
  line-height: 2rem;
}

.property-criteria button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: $blue-dark;
  background-color: transparent;
}

@media screen and (max-width: $tablet-max) {
  .property-criteria {
    margin-bottom: 1rem;
  }
}
