@import "../../styles/variables.scss";

.congratulations {
    margin: 5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24rem;

    &-image {
        display: flex;
        justify-content: center;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        text-align: center;

        p {
            margin-bottom: 0;
        }

        &-title {
            font-size: 1.6rem;
            font-weight: $bold;
            margin-bottom: 2rem;
        }

        &-content {
            font-size: 1.4rem;
        }
    }
}