@import "../../../styles/nobulVariables.scss";

.nobul-different {
  background-color: $gray-lighter;
  max-height: 200rem;

  @media screen and (max-width: $mobile) {
    background-position: right 35rem, left bottom;
  }
}

.nobul-different__wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nobul-different__header {
  padding-top: 8rem;
  padding-bottom: 6rem;
  text-align: center;

  @media screen and (max-width: $mobile) {
    padding-top: 3rem;
    padding-bottom: 2rem;
    h1 {
      font-size: 2rem
    }
  }
}

.nobul-different__text {
  text-align: center;
}

.nobul-different__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 7rem;

  @media screen and (max-width: $mobile) {
    padding-bottom: 6rem;
  }
}

.nobul-different__card {
  font-family: $font-family;
  background-color: $white;
  border-radius: 1rem;
}

.nobul-different__card--nobul {
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  width: 53rem;
  min-height: 57rem;
  box-shadow: -1px 13px 27px 2px rgba(0,0,0,0.4);
  overflow: hidden;

  @media screen and (max-width: $desktop) {
    min-height: 0rem;
  }
}

.nobul-different__card--others {
  top: 1rem;
  right: 2rem;
  width: 52rem;
  max-height: 55rem;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: $desktop) {
    position: static;
    width: 53rem;
    min-height: 0rem;
    margin-top: 1rem;
  }
}