@import "../../styles/nobulVariables.scss";

.create-polygon-map {
  overflow: hidden;

  .map {
    border: none;
    margin-top: 5rem;
    height: 65rem;

    .leaflet-left {
      right: 0;
      left: unset;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }
}

.map-fullscreen-action {
  position: absolute;
  top: 25rem;
  right: 1rem;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: $white;
  padding: 0.1rem;
  color: black;
}

.create-polygon-map__selector-and-filter-wrapper {
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  max-width: $desktop-content-max-width;
  pointer-events: none;

  & > div {
    pointer-events: all;
  }
}

.create-polygon-map__location-selector {
  position: relative;
  width: 30rem;
  z-index: 100;

  .location-search {
    width: 30rem;
  }
}

.create-polygon-map__filter {
  padding: 1rem 2rem;
  position: relative;
  width: 30rem;
  background-color: $white;
  max-height: 40rem;
  overflow-y: scroll;
  z-index: 90;

  h5 {
    text-transform: uppercase;
    color: $gray-dark;
    margin-bottom: 1rem;
  }
}

.create-polygon-map__button-holder {
  position: absolute;
  max-width: $desktop-content-max-width;
  width: 100%;
  right: 50%;
  transform: translateX(50%);
  bottom: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: flex-end;
}

.create-polygon-map__button {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.create-polygon-map__button--cancel {
  margin-left: 0;
  margin-right: auto;
}

.create-polygon-map__error {
  color: $border-input-error;
}

@media screen and (max-width: $tablet-max) {
  .create-polygon-map__selector-and-filter-wrapper {
    padding-left: 4rem;
  }

  .create-polygon-map__buttons--cancel {
    margin-left: 4rem;
  }
}

@media screen and (max-width: $mobile) {
  .create-polygon-map {
    .map {
      margin-top: 2rem;
    }

    .location-search {
      margin: 0;
    }
  }

  .create-polygon-map__selector-and-filter-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
    top: unset;
  }

  .create-polygon-map__location-selector {
    width: 100%;
  }

  .create-polygon-map__location-selector .location-search {
    width: 100%;
  }

  .create-polygon-map__filter {
    width: 100%;
    border: 1px solid $gray-medium;
  }

  .create-polygon-map__button-holder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .create-polygon-map__button-holder--reverse {
    flex-direction: column-reverse;
  }

  .create-polygon-map__button {
    margin-right: 0;
  }

  .create-polygon-map__button--cancel {
    margin-right: unset;
    margin-left: 0;
  }
}
