@import "../../../../styles/nobulVariables.scss";

.payment-congratulations {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.payment-congratulations__image {
    width: 12rem;
    height: 12rem;
    display: block;
    margin: 2rem auto;
}

.payment-congratulations__title{
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 1.8rem;
    color: $black-medium;
}

.payment-congratulations__subtitle {
    font-weight: $bold;
}