@import "../../../../../../styles/nobulVariables.scss";

.add-card-success {
    text-align: center;
}

.add-card-success__text {
    margin: 7rem auto;   
    color: $gray-medium;
    width: 25rem;
}

.add-card-success__button {
    width: 30rem;
}