@font-face {
  font-family: "ITC Avant Garde Gothic W05 Boo";
  src: url("./b1c39c18-c327-4e95-826f-811e7d7e3d46.eot?#iefix");
  src: url("./b1c39c18-c327-4e95-826f-811e7d7e3d46.eot?#iefix") format("eot"),
    url("./ba8ec5e9-338d-44c8-bb1d-39c6ef18b162.woff2") format("woff2"),
    url("./0305fa91-8a67-429b-9735-aa28668028bf.woff") format("woff"),
    url("./437d3394-54a1-4167-8da9-bab0574fc816.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic W05 Dem";
  src: url("./062deabb-8361-4e40-8c96-9427de08f71b.eot?#iefix");
  src: url("./062deabb-8361-4e40-8c96-9427de08f71b.eot?#iefix") format("eot"),
    url("./4dd591d8-4168-4263-b05b-7183ddaff1f4.woff2") format("woff2"),
    url("./90882e39-7091-4415-b231-1e068ccdcc6f.woff") format("woff"),
    url("./9a138ac5-7740-4ac5-a2ae-2b142daf51d4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic W05 Md";
  src: url("./b98b5e89-30d9-45d8-821b-10d216f82c08.eot?#iefix");
  src: url("./b98b5e89-30d9-45d8-821b-10d216f82c08.eot?#iefix") format("eot"),
    url("./65720817-fb85-457d-a855-e2a399993d65.woff2") format("woff2"),
    url("./7c804db8-cc4f-4da5-b346-da962ab1376e.woff") format("woff"),
    url("./72ff8cb4-cf7e-4358-89fb-7e9299a46dbf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
