@import "../../styles/nobulVariables.scss";

.nobul {
    .job {
        background-color: $white;
        margin-bottom: 1rem;
    
        &-picture {
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &-first {  
            margin-bottom: 1rem;
    
            &-title {
                font-size: 1.6rem;
                font-weight: $bold;
                margin: 0;
                padding: 0;
            }
    
            &-propertyType {
                font-size: 1.6rem;
                margin: 0;
                padding: 0;
                color: $black-medium;
            }
        
            &-job-date {
                font-size: 1.2rem;
                color: $gray-dark;
            }
    
          &-closed {
              background-color: $black-medium;
              color: $white;
              text-align: center;
              border-radius: 2rem;
              margin-right: 3rem;
              font-size: 1.2rem;
              line-height: 2rem;
              text-align: center;
          }
        }
    
        &-second {
            margin-bottom: 2rem;
    
            &-description {
                font-size: 1.4rem;
                color: $black-medium;
            }
        }
    
        &-third {
            color: $gray-dark;
            font-size: 1.4rem;
    
            &-bathCount {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
    
            &-bedCount {
                margin-left: 0.5rem;
            }
        }
    
        &-fourth {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-left: solid 1px $gray-light;
    
            h2 {
                font-weight: $bold;
            }
    
            p {
                font-size: 1.4rem;
            }
        }
    }

    .ant-modal-content {
        padding: 3rem 3rem 0.1rem;
    }
}
