@import "../../styles/variables.scss";

.nobul {
  .agent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    .ant-avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
      }
    }

    &-summary {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &-rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6rem;
        font-weight: $bold;
        margin-left: 2rem;

        &-name{
          color: $black-medium;
        }

        .ant-rate-star {
          margin-right: 0.5rem;
        }
        
        &-star {
          margin-left: 1.5rem;
          font-size: 1.2rem;
        }
      }

      &-brokerage {
        font-size: 1.4rem;
        margin-left: 2rem;
        color: $black-medium;
      }
    }
  }
}