@import "../../styles/nobulVariables.scss";

.nobulPremium {
  border: 1px solid $border;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }

  .small {
    font-size: small;
  }

  .buttonContaner {
    button {
      &:first-child {
        margin-right: 1.5rem;
      }
    }
  }
}

.autoBidIcon {
  width: 9rem;
  height: 9rem;
}

.nobulPremiumImg {
  width: 100%;
  height: auto;
}

.getStartedBelow{
  background: #ffba39;
  width: 100%;
  text-align: center;
}

.underline {
  text-decoration: underline;
}