.dual-price-range .ant-slider-mark .ant-slider-mark-text:first-of-type, .unlimited-price-range .ant-slider-mark .ant-slider-mark-text:first-of-type {
    transform: translateY(-4rem);
}

.unlimited-price-range {
    .ant-slider-mark {
        span:nth-child(2) {
            left: 95% !important;
        }
    }
}