@import "../../styles/nobulVariables.scss";

.ant-layout-sider-zero-width-trigger {
  top: 0;
  background: $gray-light;
  z-index: 100;

  &:hover {
    background: $gray-light;
  }
}

.marketplace {
  position: relative;
  background: $gray-light;

  .location-search-autocomplete-list.location-search-autocomplete-list {
    z-index: 11;
  }

  .content {
    padding: 2rem;
  }
  
  // Sort ant alert bug.
  .ant-alert {
    width: auto;
  }

  .jobs-list {
    padding-top: 2rem;
  }

  .ant-input {
    padding: 0.5rem 1rem;
  }
}

.marketplace__filters-holder {
  &.box-collapsible-holder {
    position: sticky;
    top: 13rem;
    z-index: 50;
  }

  .box-collapsible {
    top: 3rem;
    z-index: 50;
  }

  .box-collapsible-label {
    z-index: 0;
  }

  .box-collapsible-content-inner {
    box-shadow: $card-select-shadow;
    height: calc(100vh - 20rem); // to leave space at the bottom
    overflow: auto;
  }
  
  .box-collapsible-content {
    max-width: 41rem;
    width: 41rem;
  }
}

.marketplace__header {
  text-align: right;
  padding: 1.5rem 3rem 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 8rem;
  z-index: 10;
  width: 100%;
  background-color: $gray-light;
}

.marketplace__filter {
  width: 30rem;

  .ant-select {
    grid-column-start: 3;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    width: 100%;

    .ant-select-selection--single {
      height: 3.2rem;
    }
  }
}

.marketplace__title {
  text-align: left;
  color: $black-medium;
  margin: 0;
  font-weight: $bold;
  font-size: 2rem;
}

.marketplace__map {
  .ant-form-item {
    margin-bottom: 0;
  }

  .create-polygon-map .map {
    margin-top: 15rem;
  }

  .create-polygon-map__selector-and-filter-wrapper {
    top: 18rem;
  }

  .location-search {
    margin-left: 1rem;
  }
}

.marketplace__map-title {
  width: 100%;
  max-width: $desktop-content-max-width;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
}

.marketplace__summary {
  flex-grow: 1;
  text-align: left;
  padding-left: 3rem;
}

.job-item-date {
  margin-right: 1.5rem;
}

@media screen and (max-width: $tablet-max) {
  .marketplace {
    &-blank {
      padding: 1rem;

      h1 {
        font-size: 1.8rem;
        margin: 2rem 0;
      }

      .leaflet-container {
        height: calc(100vh - 25rem); // to leave space to scroll down the page
      }
    }

    .marketplace__header {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1.5rem 1.5rem 1rem;
      width: 100%;
  }

  .marketplace__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .ant-select {
      margin-left: 0;
      width: 100%;
    }
}
  .marketplace__icon {
    margin-left: 1rem;
    width: 5.5rem;
    height: 3.2rem;
    border-radius: 0.3rem;
    background-color: $black-medium;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marketplace__title {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    .property-features-icon-list {
      img {
        width: 3rem;
      }
    }
  }
  .marketplace__summary {
    margin: 2rem 0;
    padding-left: 0;
  }

  .marketplace__map-title {
    padding-left: 4rem;
  }
}

@media screen and (max-width: $mobile) {
  .marketplace {
    .jobs-list {
      display: flex;
      padding: 0 0 2rem;
      flex-direction: column;

      > p {
        padding: 1rem 2rem;
      }

      > a {
        margin-bottom: 0.5rem;
      }
    }
  }

  .marketplace__drawer {
    .ant-drawer-content-wrapper {
      width: calc(100vw - 7rem) !important;
    }

    .ant-drawer-body {
      padding: 1.5rem 2rem;

      .ant-form-item-label {
        padding: 0;
        margin: 0;
      }
    }

    .ant-drawer-content > div {
      // AaAAAnnnTTT!! :( :( :(
      width: 100% !important; // My soul breaks.
    }
  }

  .marketplace__summary {
    padding-left: 0;
  }

  .marketplace__map-title {
    h1 {
      font-size: 2rem;
    }
  }

  .marketplace__map {
    .create-polygon-map__selector-and-filter-wrapper {
      top: 7rem;
    }

    .create-polygon-map .location-search {
      margin-left: unset;
      padding: 0 1rem;
    }

    .create-polygon-map .map {
      margin-top: 9rem;
    }
  }
}
