@import "../../styles/nobulVariables.scss";

.contracts {

  .agent-offer__link {
    display: inline-block;
    padding-left: 9rem; // for above component padding and margin
  }

  .agent-offer__job-detail,
  .footer-container,
  .agent-offer__link-details {
      display: none;
  }
}