@import "../../styles/nobulVariables.scss";

.nobul{
.notification {
    width: 100%;

    .ant-card-bordered {
        border: none;
    }

    .ant-card {
        background-color: transparent;

        .ant-card-body {
            background-color: $white;
        }
    }
}

.notification__card {
    display: flex;
    align-items:center;
    justify-content:center;
    border: none;
    border-bottom: $border-medium-grey;
}

.notification__type--dropdown {
    width: 4rem;           
}

.notification__type {
    width: 6rem;           
    display: flex;
    justify-content:center;
}

.notification__content--dropdown {
    padding-right: 1rem;
}

.notification__content--dropdown:hover {
    color: $black-medium;
}

.notification__content {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    flex: 1;
    border-left: solid 0.1rem $border;
    padding-left: 1rem;
}

.notification__text {
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    line-height: 1.6;
    padding-right: 1rem;

    span:after,
    b:after {
        content: " ";
    }
}

.notification__time {
    font-size: 1.2rem;
    color: $gray-dark;
}

.notification__threedots {
    width: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;

    img {
        width: 4px;
    }
}

.ant-card-body {
    padding: 0;
}

.popover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-hide {
        font-size: 1.4rem;

        p{
            margin: 0.5rem;
            padding: 0.2rem 3rem 0.2rem 1rem;
        }
    }

    &-hide:hover {
        background: $blue-light;
    }
}
.ant-popover {
    z-index: 1000;
}

.ant-popover-inner {
    border-radius: 0;
}

.ant-popover-inner-content {
    padding: 0;
}

.notification .notification--unread .ant-card-body  {
    background-color: $blue-pale;
}
}