@import "../../../styles/variables";

.service {
  position: relative;

  &-icon {
    margin-left: 0.5rem;
  }

  .tip-buy {
    .tool-tip {
      border: 0.1rem solid $blue-dark;
    }
  }

  .tool-tip {
    display: none;
    position: absolute;
    padding: 1rem;
    z-index: 10;
    color: $black-medium;
    width: 25rem;
    border-radius: $border-radius-base;
    background: white;
    border: 0.1rem solid $yellow-medium;


    i { 
      margin-right: 1rem;
      width: 2rem;
      font-size: 2rem;
    }
  }
}

.service-icon:hover + .tip .tool-tip {
  display: flex;
}

@media screen and (max-width: $tablet-max) { 
  .service {
    &-icon {
      display: none;
    }
  }
}