@import "../../../styles/nobulVariables.scss";

.how-it-works {
  background-color: $white;
}

.how-it-works__bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
}

.how-it-works__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media screen and (max-width: $mobile) {
    padding-bottom: 4rem;
  }
}

.how-it-works__header {
  // width: 48rem;
  padding-bottom: 4rem;
  text-align: center;

  @media screen and (min-width: $tablet-max) {
    width: calc(100% - 48rem);
  }

  @media screen and (max-width: $mobile) {
    h1 {
      font-size: 2rem
    }
  }
}

.how-it-works__video {
  width: 73rem;
  height: 41rem;
  padding-bottom: 4rem;

  @media screen and (max-width: $mobile) {
    width: 100%;
    height: 25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.how-it-works__video iframe {
  height: 100%;
}

.how-it-works__features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 4fr));
  grid-row-gap: 3rem;
  grid-column-gap: 1.2rem;
  margin-top: 3rem;
}
