@import "../../../styles/nobulVariables.scss";

.agent-registration-form-step3 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.agent-registration-form-step3-copy {
  top: 16vh;
  text-align: center;

  .resend-email {
    color: $toggle-color;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.agent-registration-form__step-3__button-container {
  justify-self: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  padding: 2rem;
}
.agent-registration-form__step-3__button {
  width: 48%;
  display: inline-block;
  margin: 0 auto;
}
.agent-registration-form__step-3__button--finish {
  background-color: $blue-dark;
  border-color: $blue-dark;
}

.agent-registration {
  display: flex;
}

.agent-registration-general-error {
  color: $heart-red;
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: $tablet-max) {
  .agent-registration-form {
    min-height: 0;
  }
  .agent-registration-form-step3-copy {
    width: 100%;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    top: 0;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
  }
  .agent-registration-form-step3-button {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
