@import "../../styles/nobulVariables.scss";

.nobul {
  .agent-winning-offer {
    margin-top: 3rem;

    .ant-card {
      background-color: $yellow-medium;
    }

    .ant-card.hide-background {
      background-color: transparent;
      border: none;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: $bold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4rem;
    }

    svg {
      margin-right: 0.5rem;
    }

    &-info {
      padding: 0 3rem 3rem;
    }

    h5 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
