@import "../../styles/nobulVariables.scss";

.my-nobul {
  .notifications {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    
    .notification {
      display: flex;
      flex-direction: column;

      .ant-card {
        flex: 1;
        flex-direction: column;

        .ant-card-body {
          flex: 1;
          flex-direction: column;

        }

        .notification-card {
          align-items: stretch;
          justify-content: center;
          flex: 1;

          > div {
            align-self: center;
          }
        }
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

.my-nobul {
    .notifications {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .notification {
        width: 49%;
        display: block;

        .ant-card {
          display: block;
        }
      }
  }
}}