@import "../../../../styles/nobulVariables.scss";

.nobul {
  .offer-settings .ant-breadcrumb {
    font-size: 1.4rem;
    transform: translateY(-3rem);
  }

  .offer-settings .ant-card-body { padding: 5rem; }

  .offer-settings .ant-card-body  .ant-form label {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: $gray-dark;
  }

  .offer-settings .ant-form-item-no-colon .ant-form-item-label label:after { display:none; }

  .offer-settings .ant-form-item-label,
  .offer-settings .ant-form-item:last-of-type {
    margin-bottom: 0;
  }

  .offer-settings__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 7rem;
    grid-template-areas: 
      "tagline tagline"
      "fields services"
      "message message"
      "buttons buttons";
  }

  .offer-settings__grid  hr {
    margin: 0 -1rem 4rem;;
    border-color: $gray-light;
    border-bottom: 0;
    border-style: solid;
  }

  .offer-settings__tagline {
    grid-area: tagline;
  }
  .offer-settings__message {
    grid-area: message;
  }

  .offer-settings__tagline,
  .offer-settings__message {
    .ant-form-item-control:after {
      content: none;
    }

    .ant-form-explain {
      position: absolute;
      bottom: 0;
    }
  }

  .offer-settings__tagline  label {
    font-size: 2.4rem !important; // yes, important required
    color: $black-medium !important; // yes, important required
    font-weight: $bold;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }

  .offer-settings__tagline input { height: 5rem; }

  .offer-settings__tagline .chars {
    margin: 0.5rem 0 2.5rem 0 ;
    text-align: right;
    font-size: 1.2rem;
    color: $gray-dark;
  }

  .offer-settings__fields { 
    grid-area: fields;
  }

  .offer-settings__fields label {
    margin-bottom: 1.5rem;
    display: block;
  }

  .offer-settings__fields label i { 
    margin-left: 0.5rem;
    cursor: pointer; 
  }

  .offer-settings__locations,
  .offer-settings__property-type { 
    margin-bottom: 2rem; 
  }

  .offer-settings__locations span,
  .offer-settings__property-type span {
    font-size: 1.6rem;
    font-weight: $bold;
    color: $black-medium;
    line-height: 2.5rem;
    display: block;
  }

  .offer-settings__commission {
    margin-bottom: 7rem;
  }

  .offer-settings__commission .ant-input-number-handler-wrap {
    z-index: 0;
  }

  .offer-settings__commission  input {
    border: $border-medium-grey; 
    border-radius: 0.3rem;
    height: 4rem;
  }

  .offer-settings__message label {
    font-size: 2.4rem !important; // same here, important required
    color: $black-medium !important; // same here, important required
    font-weight: $bold;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }

  .offer-settings__message  textarea {
    height: 19rem;
    width: 90%;
  }

  .offer-settings__message .chars {
    width: 90%;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: $gray-dark;
  }

  .offer-settings__services { grid-area: services; }

  .offer-settings__buttons {
    grid-area: buttons;
    text-align: right;
    margin-top: 8rem;
    margin-bottom: 2rem;
  }

  .offer-settings__upgrade {
    text-align: center;
  }

  .offer-settings__upgrade  p { font-size: 1.3rem; }

  .offer-settings__upgrade  span { font-weight: $bold; }

  .offer-settings__upgrade button {
    background-color: $blue-dark;
    color: $white;
    border: none;
  }

  .offer-settings__upgrade  button:hover { background-color: $blue-medium; }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .offer-settings .ant-card-body { padding: 5rem 4rem; }

    .offer-settings__grid {
      display: flex;
      flex-direction: column;
    }

    .offer-settings__buttons { margin: 0 0 2rem 0; }

    .offer-settings__commission { margin-bottom: 3rem; }
  }
}