@import "../../../styles/nobulVariables.scss";

.contract-screens {
    h6 {
        text-transform: uppercase;
        color: $gray-dark;
        margin: 2rem 0;
        font-weight: $regular;
        
    }

    .ant-breadcrumb {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: $tablet-max) {
    .contract-screens {
        padding: 2rem 8rem;
    }
}
  