@import "../../styles/variables.scss";

.nobul{
  .event-form-card {
    &-form {
      margin: 1rem;

      &-times {
        display: flex;
        justify-content: space-between;
      }
  
      .submit-button {
        margin: 3rem auto 0;
        display: block;
      }
  
      .ant-form-item.ant-form-item {
        margin-bottom: 0;
  
        input.location-search-autocomplete-input {
          border-radius: 0.3rem;
        }

        .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
          border-color: $gray-dark;
        }

        .ant-form-item-control-wrapper textarea {
          padding: 0.6rem 1.5rem;
        }
      }
      
      .ant-select-selection-selected-value {
        position: relative;
        top: 0;
      }

      .ant-time-picker {
        width: 100%;
      }

      .ant-radio-button-wrapper {
        height: 3.6rem;
        line-height: 3.6rem;
        font-size: 1.4rem;

        span {
          white-space: nowrap;
        }
      }

      .ant-radio-group {
        display: flex;

        label {
          flex-grow: 1;
          flex-basis: 50%;
          text-align: center;
        }
      }

      .ant-radio-button-wrapper:first-child, .ant-radio-button-wrapper:last-child {
        border-radius: 0;
      }

      .ant-radio-button-wrapper:first-child:hover, .ant-radio-button-wrapper:last-child:hover, .ant-radio-button-wrapper-checked {
        background-color: $blue-dark;
        border-color: $blue-dark;
        color: $white;
      }

      .ant-radio-button-wrapper-checked {
        background-color: $blue-medium;
        border-color: $blue-medium;
        color: $white;
      }
       
      .ant-select-selection__placeholder { top: 2.3rem; }
  
      .ant-calendar-picker { width: 100%!important; }
  
      .ant-form-item-label .ant-form-item-required { color: transparent;}

      .ant-form-item-label {
        line-height: 1rem;
      }
  
      .location-search-autocomplete-input { height: 3.6rem; }
    }
  }

  .ant-card-bordered {
    border: none;
  }
}

