@import "../../../../styles/nobulVariables.scss";

.nobul {
  .offer-premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &-highlight {
      background-color: $yellow-medium;
      font-size: 1.8rem;
      color: $white;
      padding: 0 2rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
      text-align: center;

      span {
        font-weight: $bold;
      }
    }

    .upgrade-link {
      background: $blue-dark;
      border-color: $blue-dark;
      color: $white;
      margin: 1rem 0;
      height: auto;
      padding: 1rem 5.5rem;

      &:hover {
        background-color: transparent;
        color: $black-medium;
        border-color: $black-medium;
      }
    }
  }
}

.offer-premium__nobul::before {
  content: " "
}
