@import "../../../../styles/nobulVariables.scss";

.account-settings {

    color: $black-medium;
    font-family: $bold;
    font-size: 1.6rem;

    .ant-switch {
        background-color: $white;
        border: $border-black;

        &.ant-switch-checked {
            background-color: $black-medium;
        }
    }

    &-row {
        height: 10rem;
        display: flex;
        border-top: $border-medium-grey;
        align-items: center;
        justify-content: center;
    }

    &-row:first-of-type {
        border: none;
    }
}