@import "../../styles/variables.scss";

.create-posting-modal {
    .ant-modal-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
