@import "../../styles/nobulVariables.scss";

.listing-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 4rem auto;

  .box-collapsible--calculator {
    z-index: 100;
    position: fixed;
    top: 9rem;
    right: 7rem;
  }
  .breadcrumbs-container {
    width: 100%;
    padding: 0rem 1rem 1rem;
  }
  .card-container {
    margin-bottom: 2rem;
  }

  .listing-details-left,
  .listing-details-right {
    width: 50%;
    padding: 0 1rem;
  }

  .property-images-image {
    padding: 1rem 1rem 0;
  }
}

@media screen and (max-width: $tablet-max) {
  .listing-details-container {
    width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 3rem 0;

    .card-container {
      padding-left: 1rem;
      padding-right: 1rem;

      &:first-of-type {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .listing-details-left,
    .listing-details-right {
      width: 100%;
    }

    .listing-details-left {
      padding: 0;
    }

    .box-modal-calculator {
      position: fixed;
      z-index: 100;
      top: 9rem;
      right: 0;

      > button {
        background: url("../../assets/images/calculator_icon.svg") no-repeat 0 0;
        background-size: contain;
        width: 7rem;
        height: 7rem;
        border-radius: 1.2rem 0 0 1.2rem;
        border: none;
        padding: 0;
      }
    }
    .property-images {
      padding: 0;
    }

    .property-images-image {
      padding: 0.5rem;

      .image-display { background-color: transparent; }
    }

  }
}

@media screen and (max-width: $mobile) {

  .carousel-container {
    padding: 1rem 0 1rem 1rem;
    border-top: $border-light-gray;

    .arrow.left,
    .arrow.right { display: none; }

    .image-slide { margin-right: 1rem; }

    img { width: 100%; }
  }
}

