@import "../../../../styles/nobulVariables.scss";

.nobul {
  .landing-header {
    h2 {
      font-family: $font-family;
      font-weight: $bold;
      margin-bottom: 4rem;
      margin-left: 16rem;
    }

    &-summary {
      display: flex;
      background-image: url("../../../../assets/images/rating_display.svg");
      width: 29.1rem;
      height: 8.3rem;
      align-items: center;

      &-rating {
        width: 8.2rem;
        text-align: center;
        color: $white;
        font-size: 2rem;
      }
    }

    span {
      font-size: 1.4rem;
      color: $gray-dark;
      margin-top: 0.5rem;
      display: inline-block;
    }

    .ant-rate {
      color: $yellow-medium;
      font-size: 2rem;
    }

    &-stadistics {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .ant-row {
        margin-bottom: 2rem;

        div {
          font-size: 1.4rem;
          color: $gray-dark;
          line-height: 2rem;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
      span {
        margin: 0;
        font-size: 1.6rem;
        font-weight: $bold;
        color: $black-medium;
      }
    }
  }
}

.ant-rate-star-first,
.ant-rate-star-second {
  color: $gray-dark;
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .landing-header {
      padding: 2.5rem;
      h2 {
        margin-left: 0;
      }
      &-stadistics {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .nobul .landing-header { padding: 2rem 3.5rem }
  .nobul .landing-header h2 { margin-bottom: 2rem }
  .nobul .landing-header-stadistics .ant-col-8 { width: 90% }
  .nobul .landing-header-stadistics .ant-col-4 { width: 10%; text-align: right }
  .nobul .landing .landing-collapse .ant-card-body .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 4rem;
  }
  .nobul .landing .ant-collapse .ant-collapse-content-box {
    padding: 0;
  }

  .nobul .landing .ant-collapse .ant-collapse-content-box .ant-switch {
    margin: 1rem 0;
  }
}
