@import "../../../styles/nobulVariables.scss";

.buy-job-step1 {
  h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  form {
    .ant-row.ant-form-item {
      margin: 0;
    }
  }

  .ant-slider:hover .ant-slider-track {
    background-color: $blue-dark;
  }

  .ant-slider-track {
    background-color: $blue-dark;
  }

  &-icon-slider-group {
    display: flex;
  }

  &-price-slider {
    width: 70vw;
    position: relative;
    top: 3.5rem;
    left: 3rem;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ant-btn {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .buy-job-step1-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 2rem;
    
    .ant-btn {
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
    button.ant-btn.ant-btn-lg{
      order: 2;
    }

    button.ant-btn.ant-btn-primary.ant-btn-lg{
      order: 1;
    }
    button.ant-btn.ant-btn-lg{
      order: 2;
    }

    button.ant-btn.ant-btn-primary.ant-btn-lg{
      order: 1;
    }
  }

  .buy-job-step1-price-slider {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 2rem;
  }
}


@media screen and (max-width: $mobile) {
  .buy-job-step1 {
    align-content: space-between;
    h1 {
      font-size: 2rem;
      margin: 3.5rem 2rem 6rem;
    }
    .ant-radio-group {
      display: flex;
      overflow-y: scroll;
    }

    .create-posting-property-checkbox-group .propertyTypeIcon {
      height: calc(100vw / 2.5) ;
      width: auto;
    }
    
    .property-types,
    .price-ranges {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}