@import "../../styles/variables.scss";

.loginRegister {
  margin: 5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginRegister__line {
  background-color: $gray-light;
  margin: 3rem 0 2rem;
  height: 1px;
  width: 100%;
}

.loginRegister__login-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  padding-left: 0;
  padding-right: 0;
  display: inline;
  color: $blue-dark;
  margin-left: 0.5rem;
}

.loginRegister__login-button:hover,
.loginRegister__login-button.ant-btn:not([disabled]):hover {
  background-color: none;
  border: none;
  color: $blue-dark;
  text-decoration: underline;
}
