@import "../../styles/nobulVariables.scss";

.ant-alert {
    width: 40%;
    margin-top: 0.5em;
    background-color: $white;
    border: none;
    border-radius: 0;

    &-message {
        font-family: $font-family;
        font-weight: $bold;
        font-size: 0.8rem;
        color: $black-medium;
        margin-bottom: 0.2em;
    }

    &-description {
        font-family: $font-family;
        font-size: 0.8rem;
        color: $black-medium;
    }

    &-close-icon {
        .anticon {
            color: black;
            font-size: 1.2rem;
        }
    }
}