@import "../../../styles/nobulVariables.scss";

.nobul {
  .buy-job-step3 {
    padding-left: 9rem;
    padding-right: 9rem;

    h1 {
      margin-top: 5rem;
      margin-bottom: 3rem;
    }

    &-icon-group {
      display: flex;
    }
      
    &-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      .ant-btn {
        margin-left: 2rem;
      }
    }
    .ant-input-number {
      .ant-input-number-input {
        line-height: 2rem;
        height: auto;
        text-align: center;
      }
    }

    &-screen2 {
      display: flex;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul .buy-job-step3 {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .ant-checkbox-group {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-buttons {
      margin: 0;
      align-items: center;
      justify-content: center;
      text-align: center;

      &-step2 {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: center;
        text-align: center;
        margin-top: 0;
      }

      .ant-btn {
        margin-bottom: 1rem;
        margin-right: 0;
      }

      button.ant-btn.ant-btn-lg{
        order: 2;
      }
  
      button.ant-btn.ant-btn-primary.ant-btn-lg{
        order: 1;
      }
    }

    &-icon-item:first-of-type {
      margin-right: 3rem;
    }
  }

  .nobul .buy-job-step3-icon-group{
    padding: 4rem 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: $mobile) {
  .create-buy-job-content {
    margin: 0;
  }
  .nobul .buy-job-step3 {
    padding: 0;

    .ant-checkbox-group {
      justify-content: space-around;
    }
    
    h1 {
      font-size: 2rem;
    }

    .buy-job-step3-icon-group--title{
      margin-top: 2rem;
    }

    &-icon-group {
      flex-direction: column;
    }

    .nobul-tip {
      margin-bottom: 0.5rem;
    }
    &-screen2 {
      flex-direction: column;
    }

    &-icon-item:first-of-type {
      margin-right: 0;
    }
  }

  .nobul .buy-job-step3-icon-group{
    padding: 1rem 0;

    .property-bathrooms,
    .property-bedrooms {
      display: flex;
      justify-content: center;
    }

    .property-bedrooms-parent,
    .property-bathrooms-parent {
      background-color: $white;
    }

    .property-bedrooms-icon,
    .property-bathrooms-icon {
      margin: 0 2rem;
    }
  }

  .buy-job-step3-buttons {
    flex-direction: column;
  }
}

