@import "../../styles/variables.scss";

.free-trial {
  display: flex;
  justify-content: space-between;
}

.free-trial-info-grid-item {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}

.free-trial-info-grid-item-count {
  margin-right: 2rem;
}

.free-trial-info-grid-item-content-title {
  margin-right: 1rem;
}

.free-trial-info-grid-item-content-body {
  font-size: 1.4rem;
  color: $gray-dark;
}

.free-trial-info-button {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  text-align: right;

  .ant-btn {
    width: 16rem;
  }
}

.free-trial-info-button-free-trial {
  text-align: right;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;

  .ant-btn {
    width: 18rem;
    color: white;
    background-color: $blue-dark;
    border: none;
  }
}

.free-trial-info-button-left {
  text-align: left;
   margin-bottom: 2.5rem;

  .ant-btn {
    width: 18rem;
    color: white;
    background-color: $blue-dark;
    border: none;
  }
}

.free-trial-faq {
  width: 35%;
  background-color: $white;
}

.free-trial-faq-item {
  margin: 0 2rem;
  margin-top: 2.5rem;
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}

.free-trial-faq-item-title {
  font-weight: $bold;
  color: $black-light;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.free-trial-faq-item-body {
  font-size: 1.4rem;
  color: $gray-dark;
}

.free-trial-faq-title {
  padding: 2rem 5rem;
  font-size: 2rem;
  color: $white;
  text-align: center;
  color: $white;
  background-color: $price-color;
}

.free-trial-info-features {
  font-weight: $bold;
  font-size: 1.6rem;
  color: $black-light;
  margin-bottom: 2.5rem;
}

.free-trial-info-grid {
  display: flex;
  flex-wrap: wrap;
}

.free-trial-info-subtitle {
  margin-right: 25rem;
  margin-bottom: 5rem;
  font-size: 1.4rem;
  color: $gray-dark;
}

.free-trial-info-subtitle-highlight {
  font-weight: $bold;
}

.free-trial-info-countdown {
  margin: 4rem 0;
  font-weight: $bold;
  font-size: 2rem;
  color: $price-color;
}

.free-trial-info-title2 {
  font-size: 2.8rem;
  font-weight: $bold;
  color: $price-color;
  margin-bottom: 3rem;
}

.free-trial-info-title2-sub {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.free-trial-info {
  width: 65%;
  margin-right: 2rem;
  background-color: $white;
  background-image: url("../../assets/images/backgrounds/agent-subscription-background.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right top;
}

.free-trial-info-container {
  margin-left: 2.5rem;
}

.free-trial-info-title {
  font-size: 1.4rem;
  font-weight: $bold;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.free-trial-membership-info__title {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: $bold;
}

.free-trial-membership-info__subtitle {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  margin-left: 3rem;
  margin-top: 1rem;
}

.free-trial-membership-info__subtitle-reactivate {
  margin-top: 1rem;
  color: $gray-dark;
}

.free-trial-membership-info__subtitle-reactivate-price {
  color: $blue-dark;
}

.free-trial-info-completed-title {
  font-size: 1.4rem;
  font-weight: normal;
  color: $gray-dark;
  margin-bottom: 3rem;
}

.free-trial-account-info {

margin-bottom: 2rem;
font-size: 2rem;
font-weight: bold;
}

.free-trial-account-info__hello {

font-size: 1.4rem;
font-weight: 600;
margin-bottom: 1.5rem;
}

.free-trial-account-info__membership {
margin-bottom: 1.5rem;
}

.free-trial-account-info__membership__type {
color: $blue-dark;
}

.free-trial-account-info__membership__freeTrial {
color: $black-dark;
}

.free-trial-started__member-continue {
word-wrap: normal;
font-size: 1.4rem;
width: 27rem;
}

.free-trial-started__will-be-charged {
word-wrap: normal;
font-size: 1.4rem;
width: 27rem;
color: $gray-dark;
font-weight: normal;
}

@media screen and (max-width: $tablet-max) {
  .free-trial {
    margin: 2rem 8.5rem;
    flex-direction: column;
  }

  .free-trial-info {
    width: 100%;
    margin-bottom: 2rem;
  }

  .free-trial-info-container {
    margin-right: 2.5rem;
  }

  .free-trial-info-countdown {
    margin-right: 10rem;
  }

  .free-trial-faq {
    width: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .free-trial {
    margin: 1.5rem;
    flex-direction: column;
  }

  .free-trial-faq {
    width: 100%;
  }

  .free-trial-info {
    width: 100%;
    margin-bottom: 2rem;
  }

  .free-trial-info-container {
    margin-right: 2.5rem;
  }

  .free-trial-info-countdown {
    margin-right: 10rem;
  }

  .free-trial-info-subtitle {
    margin-right: 0;
  }

  .free-trial-info-grid-item {
    flex-basis: auto;
  }
}
