@import "../../styles/nobulVariables.scss";

.favorite-icon {
    margin-left: 1.5rem;
    margin-bottom: 3rem;

    .red-heart {
        color: $heart-red;
        opacity: 0.65;
    }

    .blue-heart {
        color: $blue-dark;
        opacity: 0.65;
    }
}