@import "../../styles/nobulVariables.scss";

.nobul {
  .agent-offer-details {
    position: relative;

    &-grid {
      margin-top: 4rem;

      .agent-services-card-items .ant-checkbox-wrapper {
        margin-bottom: 1rem;

        .ant-checkbox {
          display: none;
        }
      }
    }

    .ant-card {
      margin-bottom: 4rem;
      box-shadow: $card-shadow;
    }

    &-card {
      padding: 2rem 2rem 0;

      h5 > p {
        font-size: 1.4rem;
      }
    }

    .ant-slider-disabled .ant-slider-track {
      background-color: $black-medium !important;
    }
    .ant-slider-disabled .ant-slider-dot,
    .ant-slider-disabled .ant-slider-handle {
      border-color: $black-medium !important;
    }

    &-get-premium {
      margin-top: 3rem;
    }
  }
}
