
/*****************************

  Registration image refs

******************************/
$registrationImageAgent-Toronto-1: "../../assets/images/regions/Toronto/agent_registration_1.jpg";
$registrationImageAgent-Toronto-2: "../../assets/images/city.jpg";
$registrationImageAgent-Toronto-3: "../../assets/images/regions/Toronto/agent_registration_3.jpg";

$registrationImageAgent-Vancouver-1: "../../assets/images/regions/Vancouver/vancouver_1.jpg";
$registrationImageAgent-Vancouver-2: "../../assets/images/regions/Vancouver/vancouver_2.jpg";
$registrationImageAgent-Vancouver-3: $registrationImageAgent-Vancouver-1;

$registrationImageAgent-Calgary-1: "../../assets/images/regions/Calgary/calgary_1.jpg";
$registrationImageAgent-Calgary-2: "../../assets/images/regions/Calgary/calgary_2.jpg";
$registrationImageAgent-Calgary-3: $registrationImageAgent-Calgary-1;

$registrationImageAgent-Montreal-1: "../../assets/images/regions/Montreal/montreal_1.jpg";
$registrationImageAgent-Montreal-2: $registrationImageAgent-Montreal-1;
$registrationImageAgent-Montreal-3: $registrationImageAgent-Montreal-1;

$registrationImageAgent-California-1: "../../assets/images/regions/States/california_1.jpg";
$registrationImageAgent-California-2: $registrationImageAgent-California-1;
$registrationImageAgent-California-3: $registrationImageAgent-California-1;

$registrationImageAgent-Chicago-1: "../../assets/images/regions/States/chicago.jpg";
$registrationImageAgent-Chicago-2: $registrationImageAgent-Chicago-1;
$registrationImageAgent-Chicago-3: $registrationImageAgent-Chicago-1;

$registrationImageAgent-Dallas-1: "../../assets/images/regions/States/dallas_1.jpg";
$registrationImageAgent-Dallas-2: "../../assets/images/regions/States/dallas_2.jpg";
$registrationImageAgent-Dallas-3: $registrationImageAgent-Dallas-1;

$registrationImageAgent-Georgia-1: "../../assets/images/regions/States/georgia_1.jpg";
$registrationImageAgent-Georgia-2: $registrationImageAgent-Georgia-1;
$registrationImageAgent-Georgia-3: $registrationImageAgent-Georgia-1;

$registrationImageAgent-SanFrancisco-1: "../../assets/images/regions/States/san_francisco_1.jpg";
$registrationImageAgent-SanFrancisco-2: $registrationImageAgent-SanFrancisco-1;
$registrationImageAgent-SanFrancisco-3: $registrationImageAgent-SanFrancisco-1;


$registrationImageAgent-Default-1: $registrationImageAgent-Toronto-1;
$registrationImageAgent-Default-2: $registrationImageAgent-Toronto-2;
$registrationImageAgent-Default-3: $registrationImageAgent-Toronto-3;

/*****************************

  Default images

******************************/
.agent-registration-img-step1, .header-step-1 {
    background-image: url($registrationImageAgent-Default-1);
}
.agent-registration-img-step2, .header-step-2 {
    background-image: url($registrationImageAgent-Default-2);
}
.agent-registration-img-step3, .header-step-3 {
    background-image: url($registrationImageAgent-Default-3);
}


/*****************************

  Country images - shown if state not available

******************************/
.location-country-ca {
    .agent-registration-img-step1, .header-step-1 {
        // background-image: url();
    }
    .agent-registration-img-step2, .header-step-2 {
        // background-image: url();
    }
    .agent-registration-img-step3, .header-step-3 {
        // background-image: url();
    }
}


/*****************************

  State images - shown if city not available

******************************/
.location-state-ga {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Georgia-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Georgia-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Georgia-3);
    }
}

.location-state-ca {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-California-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-California-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-California-3);
    }
}


/*****************************

  City images - shown if available

******************************/
.location-city-toronto {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Toronto-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Toronto-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Toronto-3);
    }
}

.location-city-vancouver {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Vancouver-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Vancouver-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Vancouver-3);
    }
}

.location-city-calgary {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Calgary-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Calgary-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Calgary-3);
    }
}

.location-city-montreal {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Montreal-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Montreal-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Montreal-3);
    }
}

.location-city-chicago {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Chicago-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Chicago-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Chicago-3);
    }
}

.location-city-dallas {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-Dallas-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-Dallas-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-Dallas-3);
    }
}

.location-city-sanfrancisco {
    .agent-registration-img-step1, .header-step-1 {
        background-image: url($registrationImageAgent-SanFrancisco-1);
    }
    .agent-registration-img-step2, .header-step-2 {
        background-image: url($registrationImageAgent-SanFrancisco-2);
    }
    .agent-registration-img-step3, .header-step-3 {
        background-image: url($registrationImageAgent-SanFrancisco-3);
    }
}

