@import "../../../../styles/variables.scss";

.free-trial-faq-title {
  padding: 2rem 5rem;
  font-size: 2rem;
  color: $white;
  text-align: center;
  color: $white;
  background-color: $price-color;
}

.free-trial-faq-item {
  margin: 0 2rem;
  margin-top: 2.5rem;
  
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}

.free-trial-faq-item-title {
  font-weight: $bold;
  color: $black-light;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.free-trial-faq-item-body {
  font-size: 1.4rem;
  color: $gray-dark;
}

.free-trial-faq {
    width: 35%;
    background-color: $white;
}

@media screen and (max-width: $tablet-max) {
  .free-trial-faq-container {
      display: flex;
  }
}

@media screen and (max-width: $mobile) {
  .free-trial-faq-container {
      flex-direction: column;
  }
}