@import "../../../../styles/nobulVariables.scss";

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.feature__title {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.feature__description {
  text-align: center;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.feature__featureImage {
  width: 17rem;
  height: 17rem;
  margin-bottom: 2rem;

  @media screen and (max-width: $mobile) {
    width: 10rem;
    height: 10rem;
  }
}

.feature__stepImage {
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;

  @media screen and (max-width: $mobile) {
    width: 3rem;
    height: 3rem;
  }
}