@import "../../styles/nobulVariables.scss";

.consumer-proposal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 3rem;
}

.action-cards {
  min-height: 50rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.action-cards__agent-details {
  width: 42%;
  border-radius: 1rem;
  overflow: hidden;
}

.action-cards__accept-decline {
  width: 56%;
  border-radius: 1rem;
  overflow: hidden;
}

.message-card {
  width: 100%;
  min-height: 17.4rem;
  background-color: pink;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.commission-cards{
  width: 100%;
  min-height: 18.1rem;
  background-color: yellow;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.commission-cards__card {
  min-width: 48%;
}

.services-card {
  width: 100%;
  min-height: 17.4rem;
  background-color: grey;
}