@import "../../styles/nobulVariables.scss";

.nobul {
  .location-selector {
    margin-left: 0;
    margin-right: 0;
    display: flex;

    &-search {
      flex: 1;
    }

    &-button {
      width: 20%;
    }

    .search-button {
      background-color: $blue-dark;
      border: none;
      color: $white;
      border-radius: 0;
      height: $autocomplete-height;
      padding: 0;
      width: 100%;
    }

    .search-button:hover {
      background-color: $blue-medium;
    }

    .search-button-icon {
      font-size: 2rem;
      line-height: 3.6rem;
    }

    & > div {
      padding: 0;
    }

    > .location-search {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .location-selector {
      margin: 0 8rem;

      .search-button {
        height: $mobile-autocomplete-height;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .nobul {
    .location-selector {
      margin: 0 0rem;
      .search-button {
        height: $mobile-autocomplete-height;
      }
    }
  }
}
