@import "../../styles/nobulVariables.scss";

.settings-menu {
  .ant-tabs-bar{
    padding: 1rem 2rem 0;
    position:fixed;
    right:0;
    left:$sidemenu-width;
    top:$header-height;
    background-color:$gray-light;
    border-bottom: $border-medium-grey;
    z-index: 1;
  }

  .ant-tabs-tabpane {
    position: relative;
    .ant-card {
      box-shadow: $card-shadow;
      margin-bottom: 3rem;
    }
  }
  
  .ant-tabs-content {
    margin-top: 8rem;
  }
}

@media screen and (max-width: $tablet-max) {
  .settings-menu {
    .ant-tabs-bar{
      left:0;
      padding: 1rem 0 0 5rem;
    }
    .ant-tabs-tabpane {
      margin: 0;
    }
  }
}
