@import "../../styles/nobulVariables.scss";

.nobul {
    .job-title-form {

        padding: 0 1rem 0 1rem;

        .ant-input {
            width: 100%;
            margin: 1rem 0 0 0; 
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 2rem 4rem 1rem;

        }
    }
}
