@import "../../../styles/nobulVariables.scss";

.find-and-browse {
  min-height: 100vh;
  background-color: $white;

  h2 {
    color: $white;
    font-size: 3rem;
    font-weight: $bold;
    font-family: $font-family;
  }

  .location-selector {
    width: 70rem;
    border-radius: 1rem;

    .location-search-autocomplete-input {
      height: 5rem;
      border-radius: 1rem 0 0 1rem;
      border: 4px solid $blue-dark;
    }

    .search-button {
      height: 5rem;
      border-radius: 0 1rem 1rem 0;
      border: 4px solid $blue-dark;
    }

    .search-button-icon {
      font-size: 3rem;
      font-weight: $bold;
    }

    .location-selector-button {
      width: 20%;
    }
  }
}

.find-and-browse__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/landing-page/landing_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.find-and-browse__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  margin-top: calc((100vh - 36rem)/2); // Center the search bar
}

.find-and-browse__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.find-and-browse__button {
  margin: 3rem 4rem 2rem 2rem;
  text-align: center;
  background-color: transparent;
  border: $border-focus;
  border-radius: 3rem;
  width: 18rem;

  .ant-btn {
    color: $white;
    background-color: transparent;
    font-size: 2.2rem;
    border-color: transparent;
    border: none;
    width: unset;
  }

  .ant-btn:hover, .ant-btn:visited, .ant-btn:active, .ant-btn:focus {
    color: $white;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
}

.find-and-browse__button:hover {
  background-color: $blue-dark;
  border-color: $blue-dark;
  cursor: pointer;
}

.find-and-browse__button-agent--active, .find-and-browse__button-browse--active {
  background-color: $blue-dark;
  border: 2px solid $blue-dark;
  position: relative;
}

.find-and-browse__button-agent--active:after, .find-and-browse__button-browse--active:after {
  top: 100%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 2.5rem solid $blue-dark;
  clear: both;
  margin-left: -1rem;
}

.find-and-browse__container .proof-banner {
  opacity: 0.8;
  background-color: $black-medium;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.find-and-browse__container .proof-banner__text {
  color: $white;
  padding-top: 2rem;
}

@media screen and (max-width: $tablet-max) {
  .find-and-browse {
    .location-selector {
      width: 50rem;
      z-index: 10;

      .search-button-icon {
        font-size: 2rem;
        font-weight: $regular;
      }
    }
    h2 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  }

  .find-and-browse__container {
    justify-content: center;
    background-position: right top;
  }

  .find-and-browse__content {
    margin-top: unset;
  }
}

@media screen and (max-width: $mobile) {
  .find-and-browse {
    h2 {
      font-size: 2rem;
      padding: 2rem;
    }

    .location-selector {
      width: 80%;
    }
  }

  .find-and-browse__content {
    height: 100%;
  }

  .find-and-browse__button {
    width: 12rem;
    margin-top: 0;
  }

  .find-and-browse__button .ant-btn {
    font-size: 1.4rem;
    font-weight: $regular;
  }

  .find-and-browse__button-agent--active:after {
    left: 82%;
  }
}