@import "../../styles/nobulVariables.scss";

.contracts-generate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.contracts-generate-blank {
  width: 45rem;
  max-width: 100%;

  .ant-card-body {
    padding: 2rem;
    display: grid;
    grid-template-columns: 9.5rem 1fr;

    &:before,
    &:after {
      content: none;
    }
  }

  img {
    width: 8rem;
    height: 8rem;
    grid-row-start: span 10;
  }

  h3 {
  }

  p {
  }

  a {
    justify-self: flex-end;
  }
}

@media screen and (max-width: $tablet-max) {
  .contracts-generate {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contracts-generate-blank {
    width: 100%;
  }
}
