@import "../../../styles/nobulVariables.scss";

.buy-job-step4 {

  padding-left: 9rem;
  padding-right: 9rem;

  h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  form {
    .ant-row.ant-form-item {
      margin: 0;
      .creating-job-services {
        padding: 0;
      }
    }
  }

  .service-range-container {
    margin-top: 10rem;
    padding-bottom: 3rem;
  }

  .service-range-picker,
  .ant-slider-mark-text {
    background-color: $white;
  }

  &-buttons {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
    align-items: center;

    .ant-btn {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .buy-job-step4 {
    padding: 0;
    

    h1 {
      margin: 5rem 1rem 3rem;
    }

    .service-range-container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    
    &-buttons {
      display: flex;
      flex-direction: column;
      margin: 5rem 0 2rem;
      align-items: center;
      text-align: center;

      .ant-btn {
        margin-bottom: 1rem;
        margin-right: 0;
      }

      button.ant-btn.ant-btn-lg{
        order: 2;
      }
  
      button.ant-btn.ant-btn-primary.ant-btn-lg{
        order: 1;
      }
    }

    .creating-job-services .render-group {
      padding: 0 1rem;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $mobile) {
  .nobul .buy-job-step4 {
    h1 {
      font-size: 2rem;
      margin: 5rem 1rem 2rem;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &.step-one {
        margin: 5rem 0 2rem;
      }
    }
  }
}