@import "../../styles/nobulVariables.scss";

.nobul {
  .agent-offer-detail {
    &-body {
      padding: 2rem;

      h5 {
        text-transform: capitalize;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.4rem;
      }

      .selected-services {
        margin-bottom: 2rem;
      }
    }

    .agent-offer-status {
      padding: 2rem;
      height: auto;

      > div span {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding-right: 0.5rem;
      }
    }
  }
}
