@import "../../styles/nobulVariables.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &-logo {
    flex: 1;
    height: 8rem;
    line-height: 8rem;
  }

  &-navigation {
    flex: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    .ant-spin-container {
      display: flex;
      justify-content: flex-end;
    }

    &-settings {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .user-authentication {
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: $tablet-max) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    &-logo {
      line-height: 6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid $gray-light;

      img {
        margin: 1.9rem 2rem;
        height: 2.2rem;
      }
    }

    .header-navigation {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      max-height: 0;
      transition: max-height 0.3s ease-out;
      overflow: hidden;
      padding-bottom: unset;

      &.show {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
      }

      .navigation {
        width: 100%;
      }
    }
  }
}