.property-logo__container {
  margin-right: 2rem;
}

.property-logo {
  width: 4rem;
}

.property-logo__local-icon {
  height: 3rem;
  margin-top: 2rem;
}

.property-logo__local-icon--GA {
  background-image: url("../../assets/images/regions/States/gamls_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
