@import "../../styles/variables.scss";

.nobul .notification-list {
  padding: 5rem;

  .notification {
    margin-bottom: 0.5rem;

    &-card {
      border: $border-medium-grey;  
    }

    &-amount {
      padding-left: 0.5rem;
    }

    .ant-card-body {
      padding: 0;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .notification-list {
      padding: 2rem 1rem;

      h2 {
        font-size: 1.4rem;
        font-weight: $bold;
        margin-bottom: 2rem;
      }

      .notifications {
        display: block;
      }
    }
  }
}
