@import "../../styles/nobulVariables.scss";

.contract-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-bottom: 2rem;
}

.contract-item__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    font-weight: $bold;
    color: $black-medium;
    margin: 2rem 0;
}

.contract-item__text p {
    margin-bottom: 0;
}

.contract-item__table {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 0.1rem $gray-medium;
    font-size: 1.4rem;
}

.contract-item__table__item {
    padding: 1rem;
    width: 11rem;    
}

.contract-item__table p {
    margin-bottom: 0;
}
    
.contract-item__table p:nth-child(1) {
    font-weight: $bold;
}

.contract-item__action {
    color: $black-medium;
    font-size: 1.4rem;
    margin: 1.5rem;    
}

.contract-item__action img {
    margin-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
}
        
.contract-item .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contract-item .ant-btn {
    width: 100%;
    font-size: 1.4rem;
}
    