@import "../../styles/nobulVariables.scss";

// Component layout
// ==============
.job-item {
  display: flex;
  height: 100%;

  & > a {
    width: 100%;
  }

  .ant-card {
    background: white;
    border-top: $border-black-large;
    padding: 1rem 2.5rem 2rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  }

  &:hover .ant-card {
    box-shadow: $card-shadow-hover;

    .job-item-title {
      text-decoration: underline;
    }
  }

  .ant-card,
  .ant-card-body {
    // override Ant style
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .property-criteria {
    // Alter component styles.
    flex-grow: 1;
  }
}

// IE11 hack :/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .job-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0.5rem;
  }
}

// Header layout
// =============
.job-item-header {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-column-gap: 1.5rem;
  margin-bottom: 1.3rem;
}

// IE11 hack :/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .job-item-header {
    display: flex;
    flex-direction: column;
    height: 8rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .job-item-title {
    width: 100%;
  }
}

// Header text styles
// =============

.job-item-date {
  font-size: 1.3rem;
  color: $gray-dark;
  text-align: left;
  margin-right: 1.5rem;
}

.job-item-agent-tools {
  bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.job-item-trash-icon {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.7rem;
  padding: 0;
  color: $gray-dark;

  svg {
    vertical-align: top !important; // AAANNNTTTTT!!!!!
  }

  &:hover svg {
    color: $red-dark;
  }
}

.job-item-title {
  font-size: 2rem;
  font-weight: bold;
  color: $black-medium;
  align-self: flex-end;
  padding-bottom: 0.5rem;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  svg {
    color: $gray-dark;
    margin: 0 0 0.3rem 1rem;
    cursor: pointer;
  }
}

.job-item-edit {
  font-weight: normal;
  font-size: 2rem;
  margin-left: 2.5rem;
}

.job-item-proposal-with-numbers {
  width: 10rem;
  color: $white;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background-color: $black-medium;
}

.job-item-proposal-status-open {
  width: 10rem;
  color: $white;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background-color: $blue-dark;
}

.job-item-proposal-status-accepted {
  width: 10rem;
  color: $white;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background-color: $green-dark;
}

.job-item-proposal-status-expired {
  width: 10rem;
  color: $white;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background-color: $gray-dark;
}

.job-item-summary {
  color: $black-medium;
  font-size: 1.4rem;
}

.job-item-summery-closed {
  color: $gray-dark;
  font-size: 1.4rem;
}

.job-item-summary-type {
  font-weight: bold;
  font-size: 1.4rem;
}

// Header Icon
// =============
.job-item-icon.ant-avatar {
  // Override Ant styles
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;

  .anticon {
    line-height: 5rem;
  }
}

.job-item.status-closed {
  pointer-events: none;

  .ant-card {
    border-color: $gray-dark;
    cursor: default;
  }

  .job-item-title,
  .property-criteria-header,
  .property-criteria-group-price,
  ul li {
    color: $gray-dark;
  }

  .property-features-icon-list img {
    opacity: 0.5;
  }
}

@media screen and (max-width: $mobile) {
  .job-item-title {
    font-size: 1.6rem;
    padding-bottom: 0;
  }

  .job-item-summary,
  .job-item-summary-type,
  .job-item-summery-closed,
  .property-criteria-header,
  .property-criteria-group-price,
  .property-criteria li,
  .property-criteria-group-countIcon-bathCount,
  .property-criteria-group-countIcon-bedCount {
    font-size: 1.2rem;
  }

  .property-criteria-header {
    margin-bottom: 0;
  }

  .property-criteria-group {
    padding: 0.5rem 1rem;
  }

  .job-item-icon.ant-avatar {
    width: 3.5rem;
    height: 3.5rem;
    align-self: center;
  }

  .job-item-header {
    grid-template-columns: 3.5rem 1fr;
    grid-template-rows: 2.5rem;
  }

  .job-item {
    .ant-card {
      padding: 1rem 1.5rem 0;
    }
  }

  .job-item-agent-tools {
    margin-bottom: 1.5rem;
  }

  .job-item-date,
  .job-item-proposal-with-numbers,
  .job-item-proposal-status-open {
    font-size: 1rem;
  }
  .job-item-proposal-status-expired {
    font-size: 1rem;
  }

  .job-item-date {
    flex: 2;
  }

  .property-features-icon-list img {
    width: 3rem;
  }
}

.confirm-posting-delete-modal {
  text-align: center;
}
