@import "../../styles/nobulVariables.scss";

.nobul {
  .agent-services-card {
    padding: 1rem 2rem 3rem 2rem;
    box-shadow: $card-shadow;

    .agent-services-card-range {
      padding: 0 4rem 5rem;
      h4 {
        text-align: center;
      }
      .service-range-picker {
        margin-top: 7rem;
      }
    }

    .ant-card-body {
      padding: 0;
    }

    .ant-slider-track {
      height: 0;
    }

    .ant-slider-mark-text {
      font-size: 1.2rem;
    }

    .ant-slider-disabled .ant-slider-handle {
      border-color: $black-medium !important;
    }

    .ant-radio-wrapper {
      font-size: 1.4rem;
    }

    &-items {
      margin-top: 2rem;

      .ant-checkbox-wrapper {
        display: flex;
        align-items: flex-start;

        .ant-checkbox {
          top: 0.5rem;
        }
      }

      .ant-row-flex div {
        padding-left: 0;
      }

      h5 {
        margin-bottom: 1rem;
      }
    }
  }
}


@media screen and (max-width: $tablet-max) {
  .nobul .agent-services-card .agent-services-card-range {
    padding: 0;
  }

  .nobul .agent-services-card .ant-slider-mark-text:first-of-type {
    margin-left: -3.1rem !important;

    &:before {
      right: 68%;
    }
  }

  .service-range-picker .ant-slider .ant-slider-mark-text {
    background-color: $white;
  }
  
  .nobul .agent-services-card .ant-slider-mark-text:last-of-type {
    margin-right: -3.8rem !important;

    &:before {
      right: 29%;
    }
  }
}