@import "../../styles/nobulVariables.scss";

.neighborhood-list__toggle-holder {
    margin-left: 1.4rem;
    margin-bottom: 1.4rem;
}

.neighborhood-list__holder--hidden {
    display: none;
}

.neighborhood-list__toggle {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    transform: translateX(-0.8rem);

    span {
        position: absolute;
        top: -10000px; // Hide from screen, keep 
        z-index: -1;
        color: transparent;
    }
}

.neighborhood-list__toggle[aria-pressed="true"] {
     
}

.neighborhood-list__toggle-text {
    font-size: 1.4rem;
    color: $blue-dark;
}


.neighborhood-list__item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1.4rem;
}

.neighborhood-list__remove {
    appearance: unset;
    -webkit-appearance: unset;
    border: none;
    cursor: pointer;
    background-color: transparent;
}