@import "../../styles/nobulVariables.scss";

.map {
  height: 50rem;
  border: 1rem solid $white;
  z-index: 0;

  &-polygon {
    stroke: $map-polygon-border;
    fill-opacity: 0;
    stroke-width: 2px;

    &-selected {
      stroke-width: 0;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .map {
    border-width: 0.2rem;
  }
}
