@import "../../styles/variables";

.agent-view-my-events {
  display: flex;
  flex-wrap: wrap;

  .full-width-container {
    padding: 1rem;
    width: 100%;
  }

  .half-width-container {
    padding: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: $tablet-max) {
  .agent-view-my-events {
    .half-width-container {
      width: 100%;
    }
    .full-width-container {
      padding: 3rem 0 0;

      h6 {
        margin-left: 1rem;
      }
    }
  }
}
