@import "../../../styles/nobulVariables.scss";

.buy-job-step5 {
  h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  form {
    .ant-row.ant-form-item {
      margin: 0;
    }
    .ant-input{
      resize: none;
    }
  }

  &-buttons {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
    align-items: center;

    .ant-btn {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .buy-job-step5 {

    &-buttons {
      margin-top: 5rem;

      .ant-btn {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .buy-job-step5 {
    h1 {
      font-size: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .ant-input {
      height: auto !important;
      width: calc(100% - 4rem);
      margin: 0 2rem;
    }
  }
  .nobul .buy-job-step5-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

    .ant-btn {
      margin-left: 0;
    }

    button.ant-btn.ant-btn-lg{
      order: 2;
    }

    button.ant-btn.ant-btn-primary.ant-btn-lg{
      order: 1;
    }
  }
}
