@import "../../styles/nobulVariables.scss";

.property-description-form {
    &-textarea {
        margin: 5rem 2rem;
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 4rem;
    }

    .ant-form-item:last-of-type {
        margin-bottom: 0;
    }
}