@import "../../styles/nobulVariables.scss";

.footer {
  font-size: 1.4rem;
  width: 80%;
  margin: auto;
}

.footer__links {
  display: flex;
  flex-direction: row;
  line-height: 2.6rem;
  margin: 3.5rem 0 3.5rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 2;
    display: flex;
    align-items: center;

    li {
      margin-right: 3rem;
      line-height: 1.4;
    }
  }
}

.footer__links--downloads {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  img:last-of-type {
    margin-left: 1rem;
  }
}
  

.footer__information {
  display: flex;
  padding: 1rem 0 5rem;

  div {
    flex: 1;
  }
}

.footer__social {
  text-align: end;

  img {
    margin: 0 0 1.5rem 1.5rem;
  }
}

.footer__copyright {
  text-align: end;
}

.footer__address {
  padding-top: 0.5rem;
}

.layout-footer--my-dashboard {
  margin-left: 32rem;

  .footer {
    width: 90%;
  }
}

@media screen and  (max-width: $tablet-max) {
  .footer {
    width: 100%;
  }

  .footer__links {
    display: block;
    
    ul {
      justify-content: space-between;
    }
  }

  .footer-downloads {
    justify-content: left;
    margin-top: 2rem;
  }

  .layout-footer--my-dashboard {
    margin-left: 0;

    .footer {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile) {
  .footer {
    margin: 2rem 0;
    padding: 0;
  }

  .footer__links {
    display: block;

    ul {
      margin-bottom: 3rem;
      display: block;
      columns: 2;
    }

    li {
      margin: 0;
      line-height: 3rem !important;
    }
  }

  .footer__links--downloads {
    justify-content: space-between;

    a:first-of-type img {
      margin-left: 0;
    }
  }

  .footer__information {
    flex-direction: column;
    border-top: none;
    padding: 0;
  }

  .footer__social {
    text-align: start;
    margin: 2rem 0;

    img {
      margin: 0 1.5rem 0 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .footer__address {
    padding: 2rem 0 0;
    border-top: 1px solid $border;
  }

  .footer__copyright {
    text-align: start;
  }
}


.app-icon-container {
  display: flex;
  flex-direction: column;

  a {
    flex: 1;
    width: 12rem;
    height: 4rem;

    img {
      width: 100%;
      max-width: 150px;
    }
  }
}
