@import "../../styles/nobulVariables.scss";

.marker-cluster div {
  background-color: $black-medium;
  border: 1px solid $white;
  vertical-align: middle;
  text-align: center;
  border-radius: 100%;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;

  span {
    color: $white;
  }
}

.browse-listing-map {
  overflow: hidden;

  &-list {
    .ant-list-item {
      padding-top: 0;
      padding-bottom: 0;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-height: 42rem;
      }
    }
    .listing-card {
      box-shadow: $card-shadow;
      margin: 0 0.2rem 0rem 0.2rem;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: inline;
        transform: translateY(-2.4rem);
      }
    }
  }
  .listing-map {
    // 8rem is the height of header
    height: calc(100vh - 8rem);
    z-index: 5;
  }
  .listing-list-view {
    height: calc(100vh - 8rem);
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .ant-row > div {
      width: 100%;
    }
  }
  &-filter {
    display: none;
  }

  .box-collapsible-holder {
    position: relative;

    .box-collapsible {
      height: calc(100vh - 16rem);
      top: 3rem;
      overflow-y: auto;
      overflow-x: hidden;

      &-content {
        overflow-y: scroll;

        &-inner {
          padding: 2rem 0rem 0rem 0rem;
        }
      }
      .ant-row.ant-form-item {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .ant-layout-sider {
    transition: none;
  }
  .ant-layout-content {
    position: relative;
    overflow-y: hidden;
  }
  .listing-list-view-spinner {
    text-align: center;
  }

  .location-search-autocomplete {
      .ant-input {
        font-size: 1.4rem;
      }
  }
}

.listing-list-view > .ant-select {
  width: 100%;
  padding: 0.8rem;
}

.listing-list-error {
  color: $red-dark;
  text-align: center;
  display: block;
}

@media screen and (max-width: $tablet-max) {
  .browse-listing-map .listing-list-view .ant-row > div {
    padding: 0;
  }
}

@media screen and (max-width: $mobile) {
  .nobul {
    .browse-listing-map {
      flex-direction: column;
      background-color: $white;
      position: relative;

      &-list {
        order: 2;
        flex: 1 !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 1rem;
      }

      .listing-map {
        flex: 1;
        height: auto;
      }

      .listing-list-view {
        height: auto;

        .ant-row > div {
          width: 50%;
          padding: 0 0.3rem;
        }
      }

      &-filter {
        position: absolute;
        top: 0.5rem;
        right: 2rem;
        z-index: 7;
        background-color: $black-medium;
        display: flex;
        color: $white;
        border-radius: 0.3rem;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 3rem;
      }

      &-drawer {
        .ant-drawer-content-wrapper {
          width: calc(100vw - 7rem) !important;
        }
      }

      .box-collapsible-holder {
        .box-collapsible {
          z-index: 1000;
          height: 100vh;
          top: 0;
          overflow-y: scroll;
          overflow-x: hidden;
          margin: 0;
        }
      }

      .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale { font-size: 0.8rem; }
    }
  }
}