@import "../../styles/variables.scss";

.property-features { width: 100%; }

.property-features .ant-card {
  width: 100%;
  padding: 2rem;
}

.property-features .ant-card .ant-card-body { width: 100%; }

.property-features__card { display: flex; }

.property-features__card.ant-card { width: 100%; }
      
.property-features__card.ant-card .ant-card-body { width: 100%; }


.property-features__card-left,
.property-features__card-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.property-features__card-left > div,
.property-features__card-right > div {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-size: 1.4rem;
}

.property-features__card-left img,
.property-features__card-right img { margin-right: 1rem; }


@media screen and (max-width: $mobile) {
  .property-features__card {
    display: block;
  }

  .property-features .ant-card { padding: 2.5rem 2rem; }
}
