@import "../../styles/nobulVariables.scss";

.nobul {
  .consumer-job-offers {
    position: relative;

    &-grid {
      margin-top: 4rem;
      display: flex;

      &-offers {
        flex: 1;
      }

      &-ad {
        flex: 1;
        margin-right: 2rem;
      }
    }

    .ant-card {
      margin-bottom: 4rem;
    }

    .viewAllProposalsLink {
      float: right;
      text-transform: capitalize;
      font-weight: 400;
      text-decoration: underline;
      color: $blue-dark;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .consumer-job-offers {
      .ant-breadcrumb {
        margin: 3rem 1rem 0;
      }

      .consumer-job-offers-grid {
        margin-top: 2rem;
        flex-direction: column;

        h6 {
          margin: 0 1rem 0.5rem;
        }

        &-offers {
          order: 1;
        }

        &-ad {
          order: 2;
          margin-right: 0;
        }
      }
    }
  }
}
