@import "../../../../styles/variables.scss";

.free-trial-info-features {
  font-weight: $bold;
  font-size: 1.6rem;
  color: $black-medium;
}

.free-trial-info-grid {
  display: flex;
  flex-wrap: wrap;
}

.free-trial-info-grid-item {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}

.free-trial-info-grid-item-count {
  margin-right: 2rem;
}

.free-trial-info-grid-item-content-title {
  margin-bottom: 1rem;
}

.free-trial-info-grid-item-content-body {
  font-size: 1.4rem;
  color: $gray-dark;
}