@import "../../styles/variables.scss";

.consumer-offer-details-services {
    display: flex;
    padding-bottom: 3rem;
    justify-content: space-between;

    &-container {
        width: 100%;
        margin: 0;

        &-col {
            padding:0;
        }
    }

    &-offered-title {
        margin: 0;
        font-size: 1.4rem;
        font-weight: $bold;
        padding-top: 2rem;
    }

    &-offered-content {
        margin: 0;
        font-size: 1.4rem;

        &-col {
            padding: 0.6rem 1rem 0 0;
            font-weight: normal;
        }
    }

}
