@import "../../../../styles/nobulVariables.scss";

.nobul {
  .landing {
    .ant-collapse-content-box {
      padding: 2.5rem 0;
    }

    .autobid-toggle-group {
      text-align: center;
    }

    &-collapse {
      .ant-card-body {
        padding: 5rem 10rem;

        .ant-collapse {
          border-radius: 3px;
          border: none;

          > .ant-collapse-item {
            background-color: $gray-light;

            > .ant-collapse-header {
              font-size: 1.4rem;
              font-weight: $bold;
              text-transform: uppercase;
              padding: 0 0 0 8rem;
              height: 5rem;
              line-height: 5rem;

              .arrow {
                line-height: 5rem;

                &:before {
                  font-size: 1.2rem;
                  color: $gray-dark;
                }
              }
            }

            &:last-child {
              border-radius: 0.3rem;
              border-bottom: none;

              > .ant-collapse-content {
                border-radius: 0;
                margin-bottom: 1px;
                border-bottom: 1px solid $gray-light;
              }
            }
          }

          &-content {
            border-top: none;
            margin: 0 0.1rem;
          }
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-evenly;

      > div {
        &:first-of-type {
          border-right: 1px solid $gray-light;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .landing {
      &-collapse {
        .ant-card-body {
          padding: 1.5rem 2rem 5rem;
        }
      }
    }
  }
}
