@import "../../styles/nobulVariables.scss";


.limited-list {

}

.limited-list__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.limited-list__item {
    font-size: 1.4rem;
    line-height: 2rem;
    word-wrap: break-word;
    max-width: 16rem; 
}

.limited-list__button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $blue-dark;
    background-color: transparent;
}