@import "../../../../../styles/nobulVariables.scss";


.edit-regions { max-width: 120rem }

.edit-regions .ant-modal-content { padding: 3rem 0 0; }

.edit-regions .ant-modal-header { margin: 0 3rem 1rem; }

.edit-regions__container { margin-top: 2rem; }

.edit-regions .box-collapsible {
  margin-right: 0;
  height: 50rem;
  right: 2.5rem;
  top: 0;
}

.edit-regions .create-polygon-map__selector-and-filter-wrapper {
  padding-left: 3rem;
}

.edit-regions .create-polygon-map .ant-row {
  margin-left: unset;
  margin-right: unset;
}

.edit-regions .create-polygon-map {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.edit-regions .ant-input {
  padding:0.5rem 1rem;
}


@media screen and (max-width: $tablet-max) {
  .edit-regions {
    width: 90vw !important;
    // height: 90vh;
  }

  .edit-regions__search .location-search-autocomplete-input { border: $border-light-gray; }

  .edit-regions__map-container .map { height: 50vh; }

  .edit-regions .box-collapsible { 
    position: relative; 
    transform: translateX(0);
    display: block;
    right: 0;
    height: auto;
  }

  .edit-regions .box-collapsible label { display: none; }

  .edit-regions .box-collapsible-content { width: 100%; }

  .edit-regions__locations div + button { margin-top: 2rem; }
}

@media screen and (max-width: $mobile) {
  .edit-regions .create-polygon-map__selector-and-filter-wrapper {
    padding-left: unset;
  }

  .edit-regions .create-polygon-map .location-search {
    padding-left: 1rem;
  }
}

