@import "../../styles/nobulVariables.scss";

.nobul {
  .marketing-get-started {
    &-title {
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $yellow-medium;
      font-weight: $bold;
      font-size: 1.8rem;
      font-family: $font-family;
    }

    &-steps {
      font-size: 1.4rem;
      padding: 4rem;

      ul {
        margin: 0;
        padding-left: 2rem;
        list-style: disc;

        ul {
          padding-left: 3rem;
        }

        li {
          margin-bottom: 1.5rem;
        }
      }

      &-note {
        font-size: 1.2rem;
        color: $gray-dark;
        text-align: center;
        margin: 3rem 0;
      }

      &-action {
        text-align: center;

        button {
          width: 70%;
        }
      }
    }
  }
}
