@import "../../styles/nobulVariables.scss";

.nobul {
  .job-features-icons {
    h5 {
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.4rem;
      font-weight: $bold;
      margin-left: 1rem;
      line-height: 4rem;
      display: inline-block;
      vertical-align: top;
    }

    img {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .nobul {
    .job-features-icons {
      span {
        margin-left: 1.5rem;
        display: block;
      }

      .ant-row {
        > div {
          display: flex;
        }
      }
    }
  }
}
