@import "../../styles/nobulVariables.scss";

.box {
  width: 32%;
  flex-basis: 100%; // Take up as much room as it can.
  margin-right: 1.5rem;
  background-color: $white;
  padding: 3rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &-icon {
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    background-color: $gray-light;
    border-radius: 6rem;
    margin-bottom: 2rem;
    color: $white;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.blue {
      background-color: $blue-light;
    }

    &.yellow {
      background-color: $yellow-light;
    }

    &.purple {
      background-color: $blue-light;
    }
  }

  p {
    font-family: $font-family;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $black-medium;
    margin: 0;
  }
}

// Statuses
.box-selected {
  background-color: $blue-light;

  .box-icon {
    border-color: $white;
    border: solid;
  }

  h2 {
    color: $white;
  }
}

.box-disabled {
  cursor: default;
  background-color: $gray-light;

  h2,
  p {
    color: $gray-dark;
  }

  .box-icon {
    border: solid;
    border-color: $gray-medium;
    color: $gray-medium;
  }
}

.box-clickable .box-icon {
  background-color: $blue-light;
}

@media screen and (max-width: $tablet-max) {
  .box {
    width: 100%;
  }
}
