@import "../../styles/nobulVariables.scss";

.landing {
  min-height: 100vh;
  background-color: #fff;

  @media screen and (min-width: $desktop) {
    background-image: url("../../assets/images/landing-page/background.svg");
    background-position: right top;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }

  &-container {
    padding-top: 15vh;

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      padding-top: 30vh;
    }
  }

  &-content {
    max-width: 65rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: $desktop) {
      padding-left: 10vw;
      padding-right: 0;
    }
  }

  &-title {
    margin-bottom: 5rem;
  }

  &-button {
    padding: 0.65rem 2.4rem;
    background-color: $blue-dark;
    color: $white;
    border-radius: 2rem;
    font-weight: $bold;

    &:hover {
      color: $white;
    }
  }

  &-image {
    margin-top: -10rem;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
